[2016-02-06 01:58] ColeTownsend opened #2 "Cannot find module 'bluebird'"
Digging into my Resources in the app, the dependencies are installed, but this app can't find them. I'm using it with `remote`, wondering if that has anything to do with it. It seems however to be an issue with bluebird.

<img width="912" alt="screenshot 2016-02-05 20 57 09" src="https://cloud.githubusercontent.com/assets/987654/12863864/23b58d18-cc4b-11e5-847f-34005faaaecb.png">

I tried manually

[2016-02-07 02:29] jviotti commented on #2
@ColeTownsend That's very weird. Can you try if it works by loading it without `remote`? I'll be on mobile the rest of the weekend, but will try to reproduce myself on Monday.

[2016-02-07 02:32] jviotti commented on #2
@ColeTownsend I managed to borrow a laptop but couldn't reproduce the error. Could it be that somehow `node_modules/bluebird` got corrupted somehow (maybe bad internet connection)? Can you wipe out `node_modules` and try `npm install` from scratch?

Also, are you packaging your app in some way that could trigger the error, like in an `asar` package?

[2016-02-07 02:37] ColeTownsend commented on #2
I tried wiping node modules a few times, resetting the npm cache and reinstalling. I use the electron packager without asar and still couldn't find it. I also tried manually installing all the dependencies and it still wouldn't import.

It's seems like there may be a problem with Babel not liking promises.

Have you built and packaged an app with this?

[2016-02-07 02:56] jviotti commented on #2
@ColeTownsend I work on an app that makes use of this module without any issue (I'm not allowed to share the source code, sorry), however we don't use Babel. Is the application you're working on open-source? Can I try myself somehow? Some other thoughts:

- What Electron version are you running? I've been running this module with v0.36.2.
- You can try exposing `NODE_DEBUG=module`, which should gi

[2016-02-07 02:58] jviotti commented on #2
In case you're not allowed to share your app, can you try building a minimal project that reproduces the issue for you?

[2016-02-09 12:36] jviotti opened #4 "Make Appveyor builds pass"
For some reason, Appveyor builds fail without any error, warning, nor output.

The tests pass on Windows PCs so we assume it's a problem with Appveyor, although I have other projects that run the exact test suite configuration with `electron-mocha`, and they run without any issues.

See https://ci.appveyor.com/project/jviotti/electron-json-storage/build/1.0.17 for an example. All we get is:

[code

[2016-02-16 04:00] jseriff opened #5 "Does not work using remote"
Two issues were found with this working as remote

First with promises:

See https://github.com/atom/electron/issues/3740

An application using this as remote will hang.  This can be resolved by removing the returns from the various exported methods, and using the callback.

Second, the app lookup in utils.js fails - the app needs to be retrieved from the electron remote instead of directly from e

[2016-02-16 13:07] jviotti commented on #5
Hi @jseriff , thanks for the heads up.

I can't seem to reproduce this. What electron version are running this module in (I'm testing in v0.36.4)? I'm working in app loading this module as remote with promises without any issues. Is there a chance you can build a gist, or share your app (if its open source) so I can test?

I can reproduce this one by requiring the module without `remote`. I'll sen

[2016-02-16 13:21] jseriff commented on #5
I am using electron v36.7.  I will try to extract a minimal gist that reproduces the issue today.

[2016-02-16 18:41] jviotti commented on #5
@jseriff Awesome, looking forward to that!

[2016-02-17 04:13] jseriff commented on #5
I am unable to reproduce is a simple case.  I am going to dig into my particular case and see if there is some other interaction with my application that is causing the problem.  My application includes typescript, angular2, and es6 polyfills, so it may be an interaction with one of those things.

Closing for now - I will open a new ticket with this or another project if I am able to determine the

[2016-02-17 21:03] jviotti commented on #5
I've published v1.1.0 to NPM which contains the fix for the electron app lookup.

[2016-02-18 15:46] jseriff commented on #5
The root cause here appears to be an issue with BlueBird + ES6-Promise + Electron.  This library uses BlueBird on the browser side of electron.  When using remote, Electron maps these to objects on the renderer side - however if ES6-Promise (necessary for Angular2) is in place on the renderer side, it seems to get stuck in an infinite recursion when trying to cross the browser <-> renderer boundar

[2016-02-18 16:51] jviotti commented on #5
@jseriff Thanks for the research. I agree with option 2. Can you refactor the module to purely use callbacks and don't require Bluebird at all? I think we're better off without it, and if a user wants to use Bluebird, he can easily promisify the module and take care of the responsibility of possible incompatibilities.

[2016-02-26 14:23] #5 closed

[2016-03-13 18:42] jviotti commented on #2
v2.0.0 removes promise support (and thus Bluebird), so the issue should be fixed there.

[2016-03-13 18:42] #2 closed

[2016-03-13 20:44] ColeTownsend commented on #2
@jviotti woo! very exciting news. I'll let you know how it goes.

[2016-03-13 22:16] jviotti commented on #2
@ColeTownsend Actually, I published this change 16 days ago, but completely forgot to announce it in this issue. Sorry about that!

[2016-04-14 22:34] deweyaccounts opened #12 "How to do you apply this to a variable ( or to the scope in AngularJS )?"
Please forgive me as I'm a total noob when it comes to javascript and node.

I'm using this module in an AngularJS (1.53) controller for an Electron (0.37.5) application and trying the following to apply the contents of an apikey.json file to a scope variable.

[code]

Is there some way to apply the data from the json file to a variable (or to the $scope in AngularJS)?

It works on the first conso

[2016-04-14 22:40] deweyaccounts commented on #12
The first workaround I've tried is to enclose the storage.get within a function. I've also tried just putting all of my controller logic within the storage.get. Scope is always coming back to bite me. It's probably my biggest confusion with Javascript. I've taken many classes on Udemy for learning Javascript but obviously it is not sinking in. I'm going to try putting a callback function within st

[2016-04-14 23:35] jviotti commented on #12
Hi @deweyaccounts

The problem is that the functions provided by `electron-json-storage` operate asynchronously. This means that your second `console.log` will actually run *before* the variable has been set.

Consider this example that showcases the issue:

[code]

If you run that in NodeJS, the result, surprisingly at first, will be:

[code]

So in order to log the new value of your scope variab

[2016-04-14 23:57] deweyaccounts commented on #12
That makes sense. Thank you for the quick and detailed response. I think I know how I can structure the program to work for my needs. I'm going to set up a service to pull in the variables. I appreciate the link about asynchronous programming. That seems to be the area where I'm needing the most study.

[2016-04-14 23:57] #12 closed

[2016-05-24 14:36] #4 closed

[2016-06-24 13:04] jdheeter opened #16 "Inconsistent behavior when toggling value using checkbox"
I need to save user preferences when the checkbox is used. I found that after I press the checkbox 1 -4 times I get an error in console with each click "Uncaught Error: Invalid data"

I assume this has something to do with FS or async. If I stop clicking and wait 5 - 10 seconds, then I find that sometimes it will work correctly and sometimes it will not.  Any suggestions for an improved implementa

[2016-06-24 13:10] jviotti commented on #16
Hi @jdheeter ,

Thanks for reaching out! I believe the issue is that you're not waiting for `.set()` to complete before calling `.get()` which causes a race condition between both functions which could explain the weird behaviour you're describing. Can you try the following?

[code]

Let me know if this doesn't solve the issue, and I'll start a debugging session on this module itself!

[2016-06-24 13:24] jdheeter commented on #16
That solved my issue, thanks for your help!

[2016-06-24 13:24] #16 closed

[2016-06-24 13:40] jviotti commented on #16
Awesome to hear that, have a great day!

[2016-07-14 01:49] dcworldwide opened #17 "Suitable for large stores?"
Are there any store size limitations imposed by this library?

[2016-07-14 13:36] jviotti commented on #17
Hi @dcworldwide ,

Thanks for reaching out. There are no hard size limitations imposed by this library nor by JSON (the mechanism this library uses to store information), however I believe various web browsers can only handle JSON objects of about ~40 MB (which bites Electron's renderer view).

My suggestion is to to create various stores for certain prefixes, as a way to avoid having a single mon

[2016-07-14 23:01] dcworldwide commented on #17
Thanks @jviotti for the great feedback. I'll let you know my findings if we run with this lib :)

[2016-07-14 23:01] #17 closed

[2016-08-01 10:59] benjick commented on #2
Will you bring promises back?

[2016-08-01 13:50] jviotti commented on #2
Hi @benjick ,

I don't think so, at least for now, but promisifying the module should be trivial:

[code]

You can then use the functions suffixed with `Async`:

[code]

See [Bluebird's documentation](http://bluebirdjs.com/docs/api/promise.promisifyall.html) for a more detailed explanation.

[2016-08-01 14:09] benjick commented on #2
Thank you 👍

[2016-08-24 20:41] jayalfredprufrock opened #19 "Ability to override file location"
Would you be open to a pull request that provides the ability to override the path where files are stored? I'm aware that you can use app.setPath('userData', 'newPath') to change the default userData path, but this can be inconvenient in certain cases (i.e. when you simply want to place the file in a subfolder).

[2016-08-24 21:41] jviotti commented on #19
Hey there!

Thanks for reaching out. I'm definitely open for that :)

On Wed, Aug 24, 2016 at 01:41:06PM -0700, Andrew Smiley wrote:

--
Juan Cruz Viotti
Software Engineer

[2016-08-24 21:49] jayalfredprufrock commented on #19
Great, I'm thinking two changes:

1. Provide functions `setDefaultPath` and `getDefaultPath`.
2. Allow keys to contain a relative path, to be appended to the default path. So `storage.set("path/to/data", {})` would set "data.json" at "defaultPath/path/to"

If you don't mind an extra dependency, we could use mkdirp to make sure directories are created automatically if they don't already exist.

Tho

[2016-08-25 14:26] jviotti commented on #19
Hi @jayalfredprufrock

Sounds good. I don't like the "default" word here very much, since it somehow implies that the user can override the base path at runtime at the moment of saving or retrieving a value. Maybe `setBasePath`/`getBasePath`?

This is an interesting idea. What's your use case for it? More organisation of the settings directory?

Sure, go for it :)

If you don't mind, can we handle

[2016-08-25 16:32] jayalfredprufrock commented on #19
Totally agree, `setBasePath` / `getBasePath` is less confusing and more appropriate.

Regarding the relative path feature, my use case is for handling per-user settings. My application requires logging into an account and since multiple users could be using separate accounts on the same computer/user, it's convenient to store all user related data in a uniquely identified sub folder for easy retri

[2016-08-26 14:01] jviotti commented on #19
Sounds very exciting! Let me know if I can help with anything along the
way, and thanks a lot for the contribution :)

On Thu, Aug 25, 2016 at 09:32:04AM -0700, Andrew Smiley wrote:

--
Juan Cruz Viotti
Software Engineer

[2016-09-03 20:19] khullah opened #20 "Consider merging with https://github.com/ran-y/electron-storage"
https://github.com/ran-y/electron-storage is able to use inner folders when saving data - this way, you could have several electron apps in a computer, each using the same filenames (like 'settings.json') in each folder.

Both are great projects, though similar!

[2016-09-03 22:44] ohalligan opened #21 "Unsure where to insert the set function"
I want to store a list variable called notebookList {notebookOne,notebookTwo,notebookThree}

How do I modify this code:

[code]

Also, do I insert it anywhere in the index.html file?

[2016-09-06 00:51] jviotti commented on #21
Hi @ohalligan ,

I'm not sure I understand the question. Should an array of object suffice?

[code]

You can call the functions from anywhere in the renderer process!

[2016-09-06 00:58] jviotti commented on #20
Hi @khullah ,

Thanks a lot for the suggestion! I don't see a reason why both project can't co-habitate, despite similar. This modules is also getting inner folders support, as discussed in https://github.com/jviotti/electron-json-storage/issues/19.

[2016-09-06 23:28] PierBover opened #23 "Feature request: obfuscate file"
Right now JSON files are saved in plain text that anyone can open.

It would be great if there was a simple API of saving and retrieving obfuscated files.

[2016-09-07 15:45] khullah commented on #20
Yes, thats right! Not the initial request, but [this comment](https://github.com/jviotti/electron-json-storage/issues/19#issuecomment-242219520) points it out - I was thinking exactly in the second item. And that other project also uses mkdirp.

[2016-09-07 15:52] khullah commented on #23
That would be nice indeed. It could be cryptographed with some key inside the app itself. That is, only the app can decryptograph the file and use it properly.

It should be a global and/or per operation option (eg: `storage.cryptkey = 'xxx'` and `storage.set(key, data, cryptkey)`)

[2016-09-07 16:14] PierBover commented on #23
Yep, that was what I was thinking. :)

If I have some time later this week I could implement that.

Would a PR for this feature be accepted?

[2016-09-07 17:56] jviotti commented on #23
Hey there!

This would be awesome, happy to take a PR for this feature!

[2016-09-12 22:31] heaversm opened #24 "Cannot require electron-json-storage"
I have an electron app - in the renderer, I set a bunch of configuration variables, like:

[code]

Then, as the system starts up, it reads the value of those variables and configures the application environment.

Now, in my main process, I build I tray menu:

[code]

I then hooked up the ipc renderer to be able to detect that change in the context menu:

[code]

This works to change the value of t

[2016-09-14 15:19] jviotti commented on #24
Hi @heaversm ,

Thanks for reaching out. I believe the issue is in the following snippet:

[code]

Notice that `.get()` is an asynchronous function, and you have to pass it a callback to be able to retrieve the actual `shadows` value, so it should look something like this instead:

[code]

Let me know if that fixes your issue! If it doesn't, it'd be great if you can link me to the source code some

[2016-10-01 07:00] ArsNV opened #25 "Storage.get with array of keys"
Can you add to storage.get new features
array of keys (to get multiply jsons at once)
null(to get all storage)

[2016-10-01 13:44] Mr-VIT opened #26 "Illegal characters in filename"
Need to encode special characters such as `? : ` before using key in file name.

[2016-10-05 16:35] jviotti commented on #26
Hi @Mr-VIT ,

Can you provide an example? I've tried the following, which seems to work fine here (OS X, at least):

[code]

[2016-10-05 16:36] jviotti commented on #26
I'm sending a PR adding such test case to the test suite, and lets see if the CI servers are able to reproduce.

[2016-10-05 16:39] jviotti commented on #26
Okay, I'm able to reproduce an `ENOENT` error in Windows. Not sure if its the same one you're reporting:

[code]

[2016-10-05 16:41] Mr-VIT commented on #26
Windows: if `?` `Error: ENOENT: no such file or directory`
if `foo:bar` using NTFS stream (ADS) `bar` in file `foo`

[2016-10-05 17:01] jviotti commented on #26
@Mr-VIT I've just sent a PR with a fix. Can you confirm it works for you? You can install it your project directly from GitHub like this:

[code]

[2016-10-05 17:06] jviotti commented on #25
Sounds good! I'll going on vacations tomorrow, but I'll try to get on it in between. For now, you could use an async flow utility like http://caolan.github.io/async/docs.html in your application!

[2016-10-05 22:56] Mr-VIT commented on #26
Now fine.

[2016-10-06 03:08] #26 closed

[2016-10-06 03:11] jviotti commented on #26
I've published v2.0.1, which includes this fix, to npm.

[2016-10-17 02:02] anri-asaturov opened #28 "Might delete unexpected files"
https://github.com/jviotti/electron-json-storage/blob/master/lib/storage.js#L227
This line is a potential disaster, it assumes only electron-json-storage can create json files in user data folder root. I suggest creating a subfolder.

[2016-10-18 20:42] jviotti commented on #28
Hi @anri-asaturov,

I definitely agree! I'll get on this next week (I'm on vacations at the moment), but happy to take a PR if you need this sooner.

[2016-10-23 16:53] ndelvalle opened #30 "Promise support"
Are you considering promises support?

[2016-10-24 03:24] jviotti commented on #30
Hi @ndelvalle ,

We used to have promises support built-in in earlier versions, which caused some issues when using the module in Electron's renderer process (see https://github.com/jviotti/electron-json-storage/issues/2).

The recommended way forward is to use something like [Bluebird's `.promisifyAll()`](http://bluebirdjs.com/docs/api/promise.promisifyall.html):

[code]

And then using the funct

[2016-10-24 03:24] #30 closed

[2016-11-07 02:38] FTAndy opened #33 "this repo should implement promise"
callback is outdated, use promise instead.

bluebird, yaku, es6-promise, choose one.

[2016-11-07 06:22] jviotti commented on #33
Please see https://github.com/jviotti/electron-json-storage/issues/30#issuecomment-255640283

[2016-11-07 06:22] #33 closed

[2016-11-11 13:33] ArsNV commented on #25
Thanks

[2016-11-12 10:06] jviotti commented on #25
Thanks for the ping. I've implemented `.getAll()` and will implement support for an array of keys in `.get()`.

[2016-11-12 10:11] jviotti commented on #21
I'm going to close this as resolved. Please re-open if you have any other questions!

[2016-11-12 10:11] #21 closed

[2016-11-12 10:12] jviotti commented on #24
I'm closing this as resolved. Please re-open if you have any other issues!

[2016-11-12 10:12] #24 closed

[2016-11-12 13:04] jviotti commented on #25
I've implemented `.getMany()` here: https://github.com/jviotti/electron-json-storage/pull/35

[2016-11-13 11:06] jviotti commented on #25
I've published v2.1.0 to npm with these changes.

[2016-11-13 11:06] #25 closed

[2016-11-29 21:49] kknopper opened #36 "issue importing library in the renderer process"
I'm having trouble getting the library working in the renderer process. I'm importing in the main process similar to the examples and everything works fine, but if I import in the renderer process I get the following error:
[code]
I've tried using import and require, both are giving the same error. I've also tried using different versions of electron-prebuilt, but that doesn't seem to be working e

[2016-11-29 23:26] jviotti commented on #36
Hm, this is very weird. Can you create a small application (or link me to the one you have) so I can test it myself?

[2016-12-02 00:15] kknopper commented on #36
Here's my current project:
https://github.com/kknopper/plex-status-monitor

In my main.js file im utilizing your library just fine.
In my src/js/modules/Application.js file, i was trying to import and that's where I'm getting stuck.

[2016-12-05 04:31] jviotti commented on #36
Hi @kknopper ,

I've gave this a try here (macOS Sierra 10.12.1) and the module loads just fine from `src/js/modules/Application.js`, so I have no idea about what could be going on here. What operating system and `node`/`npm` versions are you running?

Does the issue happen when you locally run the app with `npm start` or does it happen after you package it up? If I had to guess, this looks like a

[2016-12-05 17:47] roldyclark opened #37 "undefined"
I keep getting an undefined from .get. JSON's are all there.

[2016-12-05 20:38] jviotti commented on #37
Can I test this somewhere? There is not much I can help with without an
actual application I can clone (even if its a minimal gist that
reproduces the issue).

At first sight, this could be caused by two things:

- Invalid or messed up JSON in the data directory (you can try purging
  all data and recreate again to confirm this theory).

- Some obscure issue in this module that is not being covere

[2016-12-05 20:47] roldyclark commented on #37
function load() {
  smalltalk.prompt('Save', 'Enter Project Name', ' ').then(function(value) {
    var array = JSON.parse(storage.get(value))
    console.log(array);
}, function() {
    console.log('cancel');
});
}

I've got this function- I'm inexperienced with JSON but I tried parse, stringify, neither - always undefined.

Here's a JSON:
{"video":"/Applications/MAMP/htdocs/media/1.m4v","audio":[

[2016-12-05 20:49] roldyclark commented on #37
this is an array of video objects, they will be assigned to var vidArray - just console.logging for now

[2016-12-05 20:50] roldyclark commented on #37
![screen shot 2016-12-05 at 3 49 50 pm](https://cloud.githubusercontent.com/assets/20400349/20901850/7de34a18-bb02-11e6-9870-260001d5e1e9.png)

[2016-12-05 20:52] roldyclark commented on #37
missing ; in copypaste but it's in my code and not the problem.

[2016-12-05 22:01] roldyclark commented on #37
I solved it. but new problem. .DS-Store shows up on

[2016-12-05 22:01] #37 closed

[2016-12-06 03:56] jviotti commented on #37
[code]

This is not right. `storage.get()` is an asynchronous function, and should be used like this (see also the examples in the README):

[code]

[2016-12-06 17:36] roldyclark opened #38 "storage.keys returns all contents from userDat"
I just want to populate a <select> element with the JSONs. Can't just filter out the file ext because it returns just the filename.

[2016-12-07 13:05] jviotti commented on #38
Can you explain this in more detail? I don't think I clearly understand the issue. Maybe show an example?

[2016-12-13 05:38] aj-ptw opened #39 "wildcard character in key get"
Hi i have been using a hierarchy in key naming and want to get all keys matching a prefix. I feel like this could be useful. Should I pr?

[2016-12-13 21:10] jviotti commented on #39
Sounds good to me. Do you have any idea on how to expose this
functionality? I think we can extend `.get()` to support globs, so you
could do something like:

[code]

What do you think?

On Mon, Dec 12, 2016 at 09:38:37PM -0800, AJ Keller wrote:

--
Juan Cruz Viotti
Software Engineer

[2016-12-14 00:17] aj-ptw commented on #39
Yea i think globs is the most intuitive way to implement it. Especially with using `*` and `.get()`.

Another way you could do list all keys under a prefix so with `storage.list('foo/bar/')` and use an iterator or generator, i can't remember what it's called, but execute a function on each item.

[2016-12-14 03:44] aj-ptw commented on #39
https://github.com/isaacs/node-glob

[2016-12-14 14:52] jviotti commented on #39
You could do it with a generator, but that would require a huge refactoring of the module's internals. The easy way to do it from the side of your application would be to use `storage.keys()`, then filter the resulting keys to get the ones that match your prefix, and then use something like `async.map` to apply `storage.get` to each.

[2016-12-14 17:33] djalmaaraujo opened #40 "Missing data from time to time"
I have an electron app, and for some reason, the storage is being deleted when I open the app again a few days later.

Is that common? I don't know how to provide more info about the problem. Let me know what I can send to explain more.

[2016-12-15 16:01] jviotti commented on #40
Hey there!

That is not common at all! Could it be that something else is deleting
your storage? Do you have the application somewhere so I can try it
myself?

On Wed, Dec 14, 2016 at 09:33:43AM -0800, Djalma Araújo wrote:

--
Juan Cruz Viotti
Software Engineer

[2017-01-02 23:42] janekolszak opened #41 "Space and brackets in userData cause ENOENT"
Hi, great library!

Having `app.getPath('userData')` like this: `.config/Electron Boilerplate (development)`
results in  ENOENT:
[code]

[2017-01-03 17:02] jviotti commented on #41
Hi @janekolszak ,

Thanks for reaching out! Is this something you've manually set using `app.setPath`? Is the intention here to have the user data directory relative to the application directory?

If so, we could detect if the user data directory is absolute, and if not, use `path.join` with the current working directory.

Let me know if that is the case!

P.S: I believe doing something like `./.c

[2017-01-03 17:19] janekolszak commented on #41
No, I just removed my home directory  from the logs :)

If `app.getPath('userData')` is like this: `/home/me/.config/Electron Boilerplate (development)` then electron-storage-jsan will look for data in  `/home/me/.config/Electron Boilerplate/data.json`

[2017-01-08 19:25] jviotti commented on #41
I gave this a go and couldn't reproduce any error when setting a userPath containing spaces and/or parenthesis, however I did get ENOENT if the userData path I specified didn't exist, so I'm assuming that is the root cause here.

I just sent a PR fixing that issue.

[2017-01-08 19:27] jviotti commented on #20
I'm closing this issue, please re-open if you have any other suggestions!

[2017-01-08 19:27] #20 closed

[2017-01-08 19:28] #41 closed

[2017-01-08 19:30] jviotti commented on #41
Check v2.1.1. Let me know if you still have any other issues with it!

[2017-01-08 19:53] #19 closed

[2017-01-08 19:53] #28 closed

[2017-01-08 19:53] #38 closed

[2017-01-08 19:55] jviotti commented on #38
Check v3.0.0. This new version stores settings inside a `storage/` subdirectory of `userPath`. Keep in mind this is a breaking change, so you might need to include code in your application to transfer old settings to the new location.

[2017-01-08 19:55] jviotti commented on #28
Check v3.0.0. This new version stores settings inside a `storage/` subdirectory of `userPath`. Keep in mind this is a breaking change, so you might need to include code in your application to transfer old settings to the new location.

[2017-01-08 19:55] jviotti commented on #19
Check v3.0.0. This new version stores settings inside a `storage/` subdirectory of `userPath`. Keep in mind this is a breaking change, so you might need to include code in your application to transfer old settings to the new location.

[2017-01-08 19:56] jviotti commented on #39
I'm closing this since this feature can be done better and more generic from the client's code by res-using `.keys()` and `.get()`!

[2017-01-08 19:56] #39 closed

[2017-01-10 00:28] janekolszak opened #45 "Write files atomically"
Hi!
Is data written atomically to the disc?

I'm using electron-json-storage as a simple database and it's important that in case of some kind of crash data will be in one of the well known states.

Thanks!

[2017-01-11 02:10] jviotti commented on #45
Hey there!

This module uses the NodeJS file-system module to write/read to/from
files (e.g: `fs.writeFile`, `fs.readFile`) which are atomic to the best
of my knowledge, however notice that given the async nature of NodeJS
you should assume anything was written until the callback is called.

[2017-01-14 02:20] stuartbrussell-intuit opened #46 "Don't return an error if storage/ does not exist."
If the storage/ directory does not exist inside userData, then getAll() returns an error. The storage directory is completely private to electron-json-storage. If it doesn't exist, then please create it, or at least don't throw an error. Just return an empty object.

[2017-01-14 02:21] stuartbrussell-intuit commented on #46
btw thank  you for implementing getAll().

[2017-01-27 00:15] danjohnson95 opened #47 "Can't use mainWindow.webContents.send() inside storage.get() callback"
I'm getting some really strange behaviour here when I try to emit some data to the window once I've grabbed some data out of the storage.

I'm trying to send the stored data to the browser, but for brevity, here's a test scenario.

[code]

The `mainWindow.webContents.send()` function returns true regardless of whether it's run from inside the storage closure or anywhere else, however it only gets

[2017-01-27 20:23] adamgoose commented on #47
Just for kicks, I'd be interested to know if the following works:

[code]

[2017-01-27 20:58] danjohnson95 commented on #47
Unfortunately not 😞

[2017-01-30 15:48] jviotti commented on #46
Hi @stuartbrussell-intuit ,

Thanks for reporting. I just sent a PR for this. Sorry for the huge delay, I've been unable to allocate time to this module recently :)

[2017-01-30 15:52] #46 closed

[2017-01-30 15:54] jviotti commented on #46
Check v3.0.1!

[2017-01-30 15:54] jviotti commented on #45
I'm closing this, but feel free to re-open if needed!

[2017-01-30 16:20] jviotti commented on #47
Hi @danjohnson95 ,

I'm only able to reproduce this when the event is emitted *before* the main window was completely up and running. Adding a long enough timeout around the `electron-json-storage` makes it work, so I guess you can find a way to wait until the main window has been loaded (and all its scripts executed) before loading the configuration, and then it should work.

I've tested with `el

[2017-01-31 02:29] stuartbrussell-intuit opened #49 "Add a synchronous waitForDone()"
Our application sets storage values just before quitting. We need a way to make sure all the set operations are complete before we allow the app to proceed. The easiest way for us would be a synchronous call like waitForDone(). If there are no operations it just returns.

(Or, does electron-json-storage guarantee that state already exists before the app quits?)

[2017-01-31 02:30] stuartbrussell-intuit commented on #49
Even an asynchronous waitForDone() would be better than not knowing.

[2017-01-31 17:12] jviotti commented on #49
When the `.set()` callback is called its ensured that the data is written, however if you exit your application (with `process.exit()` or `app.quit()`) then the data might not be there.

This module can't block the application from being closed without being intrusive, however you can do this on your application by attaching a `onbeforeunload` event handler on the rendered process (http://electron

[2017-01-31 17:12] #49 closed

[2017-02-02 17:23] danjohnson95 commented on #47
Hi @jviotti

My bad, and you were spot on! I was trying to send the event before the main window was finished loading.

I ended up sending an event from the client side to notify the main process when it's ready.

[code]
Sorry about that, this is my first time working with Electron (and loving it so far).

Thanks for your help and also for this awesome package!

[2017-02-02 17:23] #47 closed

[2017-02-03 13:37] jviotti commented on #47
Hey there,

Glad we got to the bottom of it! Have a great day!

On Thu, Feb 02, 2017 at 09:23:01AM -0800, Dan wrote:

--
Juan Cruz Viotti
Software Engineer

[2017-02-24 03:49] johnryan opened #50 "Issue building with webpack"
After adding this dependency i'm seeing an error:

[code]

and

[code]

Is there a recommended solution for this?

[2017-02-24 14:37] Maddoc42 commented on #50
Also interested in a proper fix for this one :+1:

For the meantime I have created a JS version of `cb2promise` which is written in Coffeescript. The result is available at https://github.com/Maddoc42/cb2promise.

To fix the above error run

[code]

:rocket:

[2017-02-24 19:11] jviotti commented on #50
Can you guys help me understand how this is related to this module? It seems to be a `cb2promise`/CoffeeScript issue at first sight.

[2017-02-24 19:13] johnryan commented on #50
@jviotti i think you're probably right, i'll close this and open an issue there, i just noticed the issue after adding electron-json-storage so i opened it here.

[2017-02-24 19:13] #50 closed

[2017-02-24 21:19] jviotti commented on #50
Cool, please re-open if you find out a fix can be applied here. I haven't used Webpack, but happy to help if so!

[2017-02-27 10:21] remyvanlerberghe commented on #19
Are you still open to a PR that implements the ability of setting the location of the file ?

[2017-02-28 14:31] jviotti commented on #19
@remyvanlerberghe Totally!

[2017-03-08 08:43] vferko opened #52 "Merge in deeply"
Hello, wouldn't it be nice to be able to merge a setting/object in?

[2017-03-08 09:51] vferko opened #53 "issue with webpack and UglifyJs"
I am getting this error when trying to import the library in electron main process. Same with importing or requiring. Not sure what else I can do to help specifying the issue.

    ... gutil.PluginError('webpack', buildError)

    Error: electron/app/main.js from UglifyJs
    Unexpected token: name (args) [./~/cb2promise/index.js:7,0]

[2017-03-09 00:28] jviotti commented on #53
This looks like a webpack/uglify issue rather than an issue with this module. Does the error still happen if you disable uglify?

[2017-03-09 00:30] jviotti commented on #52
That's a great idea. I'll happily accept a pull request that adds an optional object argument to `.set()` allowing to set something like `merge: true`.

[2017-03-17 14:07] vferko commented on #53
Right. But shouldn't the promises be removed? Why it depends on cb2promise then?

[2017-03-17 14:08] #53 closed

[2017-03-21 16:33] aj-ptw opened #54 "Invalid Data in single JSON object causes fatal error in getAll and getMany"
Using `getAll` is causing fatal error:

`Invalid data`

Problem is I have 260 `json` objects an no idea which to delete or clean.

Also I see `.DS_Store` is being returned as a key, i wonder if this is causing problems.

[2017-03-21 18:21] jviotti commented on #54
Hi @aj-ptw ,

I just sent a PR that makes the "Invalid data" error include the actual problematic object: https://github.com/jviotti/electron-json-storage/issues/55. Can you install that branch to see what object is causing the error, so we can eventually fix the root cause?

[2017-03-21 18:21] jviotti commented on #54
I'll send another PR to filter `.DS_Store` from the list of keys.

[2017-03-21 18:31] jviotti commented on #54
See https://github.com/jviotti/electron-json-storage/issues/56. Let me know how that goes!

[2017-03-24 21:39] aj-ptw commented on #54
@jviotti hey sorry not sure why i was not getting notifications from this thread! Hey awesome work! Unfortunately I accidentally nuked my entire cache while trying to find the problematic object so ah nope can't track the object down anymore :)

[2017-03-24 23:17] jviotti commented on #54
No worries! I published 3.0.2 with the fixes. Upgrade to that version, and let me know if the problem ever appears again.

[2017-03-24 23:17] #54 closed

[2017-03-24 23:58] aj-ptw commented on #54
@jviotti great work. thanks

[2017-03-27 14:16] metachris opened #57 "UglifyJs throws error: Unexpected token: name (args)"
I'm using `electron-json-storage` in an Electron app. It works when I run the local dev build with `npm run dev`, but as soon as I try make a production build, UglifyJs gives me the following error message for each time I import `electron-json-storage`:

[code]

[2017-03-28 15:06] ArsNV opened #58 "setMany()"
Hi
What about setMany() method
For example
array['key1'] = json;
array['key2'] = json;
array['key3'] = json;
storage.setMany(array,function(result){});

[2017-03-28 18:33] jviotti commented on #58
I'd definitely accept a PR for such a function. Accepting an object is probably better than an array though:

[code]

[2017-03-28 18:45] ArsNV commented on #58
Thanks

[2017-03-28 18:56] jviotti commented on #57
Hi @metachris ,

Thanks for reporting. I'm not sure what the issue could be. We have no variable name called `name`, so at least at first sight, it appears that the issue is coming from somewhere else.

Can you show me the contents of `renderer.js`? Also, could you share with me the compressed file? We could de-uglify and compare to the original source code to better understand what is it that Ugl

[2017-03-29 14:46] metachris commented on #57
Hi. Unfortunately, UglifyJS discards the renderer.js it reports the error in. Any idea how I can get it to preserve it?

[2017-03-29 16:52] jviotti commented on #57
Not really sure. Can you point to a repository or a gist where I can reproduce the issue? I'm happy to give this a closer look!

[2017-03-30 03:36] tvanro commented on #57
I'm having the same issue with electron-json-storage 3.0.1 and 3.0.2
electron-json-storage 3.0.0 works well with UglifyJS so it's a change that happened between 3.0.0 and 3.0.1.

[2017-03-30 13:55] metachris commented on #57
Finally I got steps t reliably reproduce the error:

1. Start a new [electron-vue](https://github.com/SimulatedGREG/electron-vue) project
2. install the `electron-json-storage` dependency
3. require `electron-json-storage`
4. make a production build

[code]
Now edit `app/src/renderer/main.js` and include `electron-json-storage`:

    import * as storage from 'electron-json-storage'

Finally, make

[2017-03-30 15:58] jviotti commented on #57
Thanks a lot for the details. I'm trying @metachris steps as I write.

There are only two commits between those versions:

- https://github.com/jviotti/electron-json-storage/commit/b9feeb1ad4f2aaed1a486a1f2d9acf64f78eb4e7
- https://github.com/jviotti/electron-json-storage/commit/e062878f29f9309d9250c7e30ec76c1330d3a7b2

The first commit has some backward compatible dependency upgrades. One of them

[2017-03-30 16:26] jviotti commented on #57
I'm getting a slightly different issue here (in macOS as well):

[code]

I also get the same issue on 3.0.0.

[2017-03-30 16:38] jviotti commented on #57
Oh, I think I found the problem. It looks like UglifyJS is getting confused about the ES6 features that we use in this module, like ``` and `=>`.

[2017-03-30 16:45] jviotti commented on #57
I'm a webpack noob, so I honestly have no clue how to configure it correctly to make it understand ES6. In the mid-time, I'm happy to get rid of the ES6 features we're using here (which are very few).

[2017-03-30 16:56] jviotti commented on #57
Hm, now I'm getting the originally reported error:

[code]

[2017-03-30 17:07] jviotti commented on #57
OK, looks like the issue comes from `exists-file`, which requires `cb2promise`, which causes problems because of this line: https://github.com/Kikobeats/cb2promise/blob/master/index.js#L7.

I'll replace this dependency with some custom code in `electron-json-storage` and that should be it.

[2017-03-30 17:25] jviotti commented on #57
@metachris @tvanro Check 3.0.4. Everything seems to work fine now!

Still, in order to avoid similar issues in the future, I'd recommend opening a ticket on the `vue-cli` so they make sure ES6 dependencies get transpiled before running UglifyJS on them.

[2017-03-30 17:25] #57 closed

[2017-03-30 17:26] jviotti commented on #50
I got to the bottom of this issue, and solved it on 3.0.4. Check https://github.com/jviotti/electron-json-storage/issues/57

[2017-03-30 17:26] jviotti commented on #53
I got to the bottom of this issue, and solved it on 3.0.4. Check https://github.com/jviotti/electron-json-storage/issues/57

[2017-03-30 20:55] metachris commented on #57
Awesome! :+1:

On Mar 30, 2017 19:25, "Juan Cruz Viotti" <notifications@github.com> wrote:

[2017-04-05 13:43] gizburdt opened #61 "fs.existsSync is not a function"
Hi,

When using the plugin I get this console error: `fs.existsSync is not a function`. Also get this error while compiling code with Webpack: `Error: Can't resolve 'fs' in '/Users/Gijs/Server/anvil/node_modules/electron-json-storage/lib`.

Am I doing something wrong?

[2017-04-05 16:09] #61 closed

[2017-04-05 21:20] jviotti commented on #61
Looks like a Webpack configuration issue. `fs` is a node built-in module. Maybe `target: 'node'` helps?

[2017-04-14 06:00] dok opened #62 "Build fails on import utils.js with Spectron"
Looks like my Spectron tests are failing due to this line of code on this [line](https://github.com/jviotti/electron-json-storage/blob/master/lib/utils.js#L30):

[code]

I'm going to propose moving that line into the only place that it is used, with a conditional that it will use a default location if app does not exist. So [getUserDataPath](https://github.com/jviotti/electron-json-storage/blob/ma

[2017-04-14 12:04] jviotti commented on #62
Hey there, thanks for the heads up, I'm happy with that change. Are you sending a PR for it yourself?

[2017-04-14 16:33] #62 closed

[2017-04-16 12:15] hdev1 opened #64 "Noob question"
In my main/index.js, storage.get works on 'selectedProfile', but in my upgrades.js used in index.html it returns [Object object]

[2017-04-16 12:19] hdev1 commented on #64
Nevermind, I'm an idiot haha.

[2017-04-16 12:19] #64 closed

[2017-05-05 11:15] shaneing opened #65 "get(key, callback)"
[code]

the content of storage file:

[code]

But, an error occurred

[2017-05-05 14:29] #65 closed

[2017-05-05 15:19] jviotti commented on #65
I believe you figured it out already, but `.get()` is an async function, and therefore your `getData` function will return before that completes.

[2017-05-23 15:24] crippledjosh opened #67 "DateTime Reviver"
JSON.parse can take a second argument to revive dates, would it be possible to allow for that arg to be passed through?

[2017-05-26 11:39] jviotti commented on #67
Sounds good, I'm happy to take such a PR.

[2017-06-27 23:04] davishmcclurg opened #70 "Corrupt JSON after multiple quick writes"
I'm running into a sporadic "[Invalid data](https://github.com/electron-userland/electron-json-storage/blob/e33dd38705dbf569d931ea2806dfe48476559655/lib/storage.js#L88)" error that I think is caused by multiple writes happening in quick succession. The stored json is invalid, with an extra object at the end of the file (after the end of an array).

My guess is that it's caused by [`fs.writeFile`](

[2017-06-28 01:34] jviotti commented on #70
Hey there!

That's a very interesting issue. I'm sending a PR which stress tests the module by writing and reading a lot of random numbers very quickly in a serial fashion, to see if that reveals anything, even though it always passes without issues on macOS (let's see what Linux and Windows say in the CI tests).

What OS are you running? Could it be that multiple parts of the code are trying to w

[2017-06-28 01:34] jviotti commented on #70
See https://github.com/electron-userland/electron-json-storage/pull/71

[2017-06-28 01:35] jviotti commented on #70
BTW, are you running this module on the main or in a renderer process? Does it make any difference?

[2017-06-28 01:37] jviotti commented on #70
I also just wrote and read 100k random items, for the sake of science, and it passes just fine.

[2017-06-28 07:12] davishmcclurg commented on #70
Thanks for the quick response @jviotti. I'm running macOS as well and using the module in the main process. I haven't tested in a renderer, but I doubt it would make a difference.

I added a failing spec to my fork that should clear things up: https://github.com/davishmcclurg/electron-json-storage/commit/5a136d28f87aa5a642eabeb22cb01c5164035e4b

[2017-06-29 21:03] jviotti commented on #70
Thanks a lot for the test case. I'll be working on it and see if I can devise a fix.

[2017-06-29 21:11] jviotti commented on #70
I just sent a PR with a fix!

[2017-06-29 21:19] #70 closed

[2017-06-29 21:21] jviotti commented on #70
Check v3.0.6 on npm!

[2017-06-29 22:02] davishmcclurg commented on #70
Nice, thanks @jviotti. I'll try out the new version shortly. If you want to remove the `rwlock` dependency, I used `async/queue` to get around this in our app.

[2017-06-30 03:14] jviotti commented on #70
Ah, cool, feel free to send a PR :)

[2017-07-16 14:34] Rob-- opened #73 "Promise support?"
This is a really useful library and I think it could be improved if there was support for promises. It would make the library easier to use, for example:

[code]

[2017-07-17 17:28] Rob-- commented on #58
Created a PR ( #74  )

[2017-07-18 01:33] jviotti commented on #73
Hey there, thanks for reaching out.

We used to have promises support at some point using Bluebird, however we dropped them given some nasty issues with ES6 promises (see https://github.com/electron-userland/electron-json-storage/issues/5).

Is promisifying the module using Bluebird an option for you? For example:

[code]

[2017-07-18 01:55] Rob-- commented on #73
Why use Bluebird? Why not use native promises? This would also remove all the `async.waterfall` and `async.parallel` code which not only (in my opinion) looks ugly but also makes the code very hard to read.

For example, the [.get function](https://github.com/electron-userland/electron-json-storage/blob/master/lib/storage.js#L67) would look like this:

[code]

Example usage:
[code]

Another sugges

[2017-07-19 18:09] stromboul opened #75 "URI encoded Keys are not decoded"
If I add a storage value with a key that contains URI encoded values (ex: "test:value"), if I do a 'storage.getAll', this value will not be extracted correctly.

Also, doing a storage.keys, the returned key will not be URI decoded, so I can not 'get' the stored data using that key without manually doing a decodeURIComponent on it.

[2017-07-27 12:49] jviotti commented on #73
I'm happy to slowly transition to native promises :+1:

[2017-07-27 12:56] jviotti commented on #75
Can you provide me with a failing test case? I tried

[code]

But that seems to work fine, at least on macOS.

[2017-07-27 12:57] jviotti commented on #75
I'll push my changes just in case the CI servers reveal an issue in another platform.

[2017-07-27 14:57] stromboul commented on #75
Those 2 test cases fails on windows.

[code]
[code]

[2017-07-27 17:29] jviotti commented on #75
Ah, I see what you mean now. See https://github.com/electron-userland/electron-json-storage/pull/78

[2017-07-27 17:33] #75 closed

[2017-07-27 17:35] jviotti commented on #75
Check v3.0.7

[2017-08-23 00:23] randonia opened #80 "Multi-instance read/write safety?"
I have occasionally run into an issue where my data will be corrupted in a way that appears to be due non-locked multi-process writes.

For example, the file will result like this:

`{"foo": false,"bar": 42,"baz":12345}az":12345}`
This usually happens when it seems like two or more separate electron render processes are writing different values to the same location.

Is there an way to guarantee m

[2017-08-23 07:01] Sobient commented on #57
Had some code that threw this issue:

[code]

[2017-08-23 15:02] jviotti commented on #57
You should use [`uglify-es`](https://www.npmjs.com/package/uglify-es) if you need to deal with ES6 code.

[2017-08-24 16:50] randonia commented on #80
Turns out this was fixed by #72 . We were using `3.0.5` :) Thanks for being a rubber :duck:

[2017-08-24 16:50] #80 closed

[2017-08-30 21:28] seanmcclure22 opened #82 "Cannot use get/setDataPath functions"
Hi!

Whenever I attempt to use the storage.getDataPath/storage.setDataPath functions, I get a "TypeError: storage.setDataPath is not a function" error message.

I have the latest version of electron-json-storage and I can see the functions in my node_modules/electron-json-storage/storage.js file. Even when I copy the function out of the utils.js file and put it directly in storage.js I receive the

[2017-09-04 14:32] jviotti commented on #82
That's very weird. We even have tests that cover those functions (https://github.com/electron-userland/electron-json-storage/blob/master/tests/storage.spec.js#L98, https://github.com/electron-userland/electron-json-storage/blob/master/tests/storage.spec.js#L121). Are you absolutely sure you pulled the latest version from npm?

[2017-09-06 16:48] seanmcclure22 commented on #82
Yeah I am absolutely positive. I have version 3.1.0 which VSCode as well as the Github page suggest as the latest.

I can see the methods in my node_modules/electron-json-storage folder so I think that is a good indication of having the latest version.

I attached some images of the error, my version of electron-json-storage, and a code snippet of me attempting to call the setDataPath method.
![im

[2017-09-09 22:52] jviotti commented on #82
Strange... I tried again but I'm still not able to reproduce. Do you think you can build a small gist or something I can test over here? I'm happy to help you get to the bottom of it.

[2017-09-13 21:14] seanmcclure22 commented on #82
So it turns out my node_modules folder in my dist folder was not updating with the latest version of electron-json-storage, so I was seeing the updated version in my node_modules folder, but the application was pulling from the dist folder, which is why it was throwing this error.

Thanks for your responses.

[2017-09-13 21:14] #82 closed

[2017-09-17 05:48] sindresorhus commented on #23
[`electron-store`](https://github.com/sindresorhus/electron-store#encryptionkey) supports encrypting the config file.

[2017-09-22 21:02] arkakkar opened #83 "Not storing values in windows platform"
Hi,
electron-json-storage seems to work fine while working on a mac app, though on windows it does not create a particular storage json file under app.getPath('userData') directory. Could you help ? What am I doing wrong ?
Sometimes also creating an empty json file.
Have checked with the object I am setting to the key

[2017-09-23 12:13] jviotti commented on #83
Hey there,

Do you have an actual error message? We test this module on Windows (using Appveyor CI), so I'm surprised it fails for you. Can you push the code somewhere I can take a look myself?

[2017-09-25 07:09] arkakkar commented on #83
No I don't have an error message. It just empties the json file. I was trying to save to settings in the before-quit event. It seems to work fine on the mac platform. I have moved my code form before-quit handler to somewhere else and seems to be working fine now

[2017-09-26 06:08] jviotti commented on #83
Weird. Let me know if it happens again, and try to build a small reproducible example that I can play around with.

[2017-09-27 16:20] bachdinhnhan commented on #83
I have same problem with @arkakkar .
Work fine on Mac platform but Window.
No crash, just silence on Window. I try to debug to see what's wrong

[2017-09-27 17:16] bachdinhnhan commented on #83
Test input:
key: john6638@gmail*__dot__*com
value: an object

Result:
Error: ENOENT: no such file or directory, open 'C:\Path
To\storage\john6638%40gmail*__dot__*com.json'

[2017-09-27 17:52] jviotti commented on #83
I see. The issue is that an asterisk is not a valid character for paths on Windows (not the case on other UNIX operating systems). Let me see what I can do

[2017-09-27 17:55] bachdinhnhan commented on #83
Thanks for your reply.
I think that It will be fine to put a note on Readme

[2017-09-27 18:00] #83 closed

[2017-09-27 18:01] jviotti commented on #83
@bachdinhnhan You're welcome! Check v3.1.1. It should work there!

[2017-10-03 21:56] jbw91 opened #85 "Multiple Instances"
I have a use case where I want to have essentially multiple instances of this library, because I want to store various json files in various locations. With the single instance I have to always set the data path immediately before running the command, but that's not perfect in case I have two async tasks running and I end up with a race condition error. I couldn't find anything in the documentatio

[2017-10-04 14:02] bingqiao opened #86 "'userData' bug reintroduced after 3.1.0"
Electron allows the change of 'userData'. I remember there used to be a bug in electron-json-storage where the 'userData' is read upon loading electron-json-storage lib which means any change to it made in the electron app will just get ignored. This bug was fixed then reappeared in 3.1.0. There might be ways to change 'userData' before electron-json-storage gets loaded but this change of behaviou

[2017-10-07 16:34] jviotti commented on #85
Hi @jbw91 ,

Check https://github.com/electron-userland/electron-json-storage/pull/87. I added a way to pass a custom data path in all functions, which should do the trick!

[2017-10-07 16:44] jviotti commented on #86
Hey there! Can you provide an example that reproduces the problem? I double checked and the user data path is indeed being dynamically queried on every call.

[2017-10-07 16:44] #85 closed

[2017-10-07 16:45] jviotti commented on #85
Check v3.2.0 on npm!

[2017-10-08 18:46] jgarza9788 opened #88 "getall"
get all is not releasing the file lock after it's used

[2017-10-08 20:00] jgarza9788 opened #89 "file seems to be locked when setting the data after getting the data"
![2017-10-08_12-59-30](https://user-images.githubusercontent.com/8079550/31320392-9e725bc6-ac28-11e7-961b-6c87e5f22a8d.png)

[2017-10-10 09:55] jviotti commented on #89
Is there any chance you can provide a stack trace? ie by printing the error object from the main process?

[2017-10-10 09:57] jviotti commented on #88
Can you better explain what you observed? `.getAll()` doesn't use any lock mechanism (see https://github.com/electron-userland/electron-json-storage/blob/master/lib/storage.js#L210). The only function that performs locking is `.set()` (see https://github.com/electron-userland/electron-json-storage/blob/master/lib/storage.js#L272), but the lock is released after `fs.writeFile` completes, even if an

[2017-10-10 11:23] bingqiao commented on #86
Before 3.1.0 the getUserDataPath is as follows:
[code]
This is now changed to:
[code]
Now a call to getUserDataPath just returns the value of currentDirectory. This is a change of behaviour.

This basically changes back to how it used to work prior to the change on 08/Jan/2017 when this bug was fixed.
The change on 08/Jan/2017 changed the following:
[code]
to:
[code]

What happens now is once this

[2017-10-10 11:30] bingqiao commented on #86
The use case here is that I'm changing the userdata folder to a subfolder inside the default userdata. This stopped working after 3.1.0 where the json storage files start getting created inside the default userdata folder.

[2017-10-10 14:06] jgarza9788 commented on #89
I was saving too often.
A possible solution was to loop based on the error and re-save.

On Tue, Oct 10, 2017 at 2:55 AM Juan Cruz Viotti <notifications@github.com>
wrote:

--
*Justin Garza*

(818) 251-0647 / jgarza9788@gmail.com

[2017-10-11 01:29] jviotti commented on #89
@jgarza9788 Saving too often shouldn't be an issue. The test cases perform stress testing on the module, by very quickly writing a thousand entries, even in parallel (https://github.com/electron-userland/electron-json-storage/blob/master/tests/storage.spec.js#L51). Are you sure there is not something else going on with your app?

[2017-10-11 23:33] jbw91 commented on #85
Looks like 3.2.0 isn't published to npm yet. Got an ETA on that?

[2017-10-12 09:51] jviotti commented on #85
Oops, looks like I forgot about it. I should be good now!

[2017-10-16 13:33] achtan opened #90 "Option to store real json"
is there a way to store real JSON format?

why are you using `JSON.stringify` anyway? I assumed when the package name is `electron-json-storage` that it will store real json files... even the file extension name is '.json' but the content is in string :/

[2017-10-16 16:45] jviotti commented on #90
JSON **is** a text-based format. Real JSON is the output of `JSON.stringify`. I think you're getting confused with JavaScript Objects, from where JSON originated. Every JSON string can be parsed as a JavaScript Object, but not every JavaScript Object can be stringified into JSON.

[2017-10-16 16:45] #90 closed

[2017-10-17 17:29] iamchucky opened #91 "Optional `options` is no longer optional with v3.2.0"
Due to the changes in v3.2.0, there are bugs when calling `storage.set(key, json, [options], callback)` without `options`

[code]

It throws error when trying to access `options.dataPath` at https://github.com/electron-userland/electron-json-storage/blob/master/lib/storage.js#L256

I think we need to ensure `options` is set to `{}` at https://github.com/electron-userland/electron-json-storage/blob

[2017-10-18 20:17] jviotti commented on #86
Ahhh, I see what you mean now. I'll send a PR in a bit :)

[2017-10-18 22:17] #86 closed

[2017-10-18 22:19] jviotti commented on #86
Check v4.0.0!

[2017-10-18 22:23] jviotti commented on #91
Hi @iamchucky,

Can you show me an example that reproduces the error? There are various cases on the test suite where we use the `.set()` function without `options` (i.e. https://github.com/electron-userland/electron-json-storage/blob/master/tests/storage.spec.js#L198), but maybe I'm missing something?

[2017-10-19 02:35] iamchucky commented on #91
I was not passing `callback` either:
[code]
example like above would work before 3.2.0 but throws error with 3.2.0

But now I realize that I should probably pass the callback function in as it is a required argument according to the documentation.

[2017-10-19 18:06] jviotti commented on #91
Ah, that makes sense. I think it should still be easy to fix. I'll prepare a PR later today.

[2017-10-19 18:10] jviotti commented on #91
@iamchucky Can you give https://github.com/electron-userland/electron-json-storage/pull/93 a go?

[2017-10-19 18:13] #91 closed

[2017-10-19 18:14] jviotti commented on #91
Check v4.0.1

[2017-10-20 02:45] iamchucky commented on #91
I don't think #93 fixes this particular issue, when call `storage.set('settings', data);` without both `options` and `callback`, `options` is `undefined`, therefore throws at https://github.com/electron-userland/electron-json-storage/blob/master/lib/storage.js#L269

[code]

[2017-10-20 22:29] jviotti commented on #91
Good point. What about v4.0.2?

[2017-11-06 17:57] FaithInMotion opened #95 "First time user, getting a new file per item added"
I am new to this storage tool. It seems that this tool wants to create a new file for each object I add to the "db".

Database setup:
[code]

Logged:
`/Users/Legend/Library/Application Support/budgeteer/database`

Usage:
[code]

What I get (note that also the remove() apparently didn't happen - the file is still there and still has it's contents):
<img width="338" alt="screen shot 2017-11-06 at 12

[2017-11-06 18:01] FaithInMotion commented on #95
I see one mistake, but I'm not going to close this as I still need the understanding. I can make the id the same in the set() calls and get everything in one file. Because I am setting my own id, this works for me - for now. But I'm not sure that this is still as intended - or even desirable? It means "key" is the name of the file and nothing else.

[2017-11-07 17:49] jviotti commented on #95
Hi @FaithInMotion ,

I'm not sure I understand the confusion. The "key" is indeed a file name. Writing an object to a key means creating (or overriding) the file name that corresponds to the key, so I can set `{"value":1}` to key `foo`, and then set `{"value":2}`, which would override the previous value.

If you want to "extend" the object stored in a certain key, you can:

- Fetch the current val

[2017-11-13 18:55] #95 closed

[2017-12-19 11:24] Nihahs commented on #36
@kknopper I just faced the same problem. I tried using window.require instead of just require and it worked. Hope this helps.

`const storage = window.require('electron-json-storage');`

[2018-01-05 14:34] bithavoc commented on #40
I'm also seeing this, MacOS High Sierra.

This is the app's Application Support directory:

<img width="630" alt="33726905-6b7bf3d0-db44-11e7-9221-f2dc6e46a500" src="https://user-images.githubusercontent.com/219289/34613205-f5882ad6-f1fa-11e7-9558-c95a574c8a50.png">

[2018-01-25 14:18] gomonk3037 opened #96 "Feature request: observe storage"
There is no api that responds to changes in the storage.
Is there a way to use nodejs api [fs.watch](https://nodejs.org/api/fs.html#fs_fs_watch_filename_options_listener) and [fs.watchFile](https://nodejs.org/api/fs.html#fs_fs_watchfile_filename_options_listener)?

[2018-01-30 02:05] cryppadotta commented on #40
I'm also having the same problem on MacOS -- The file will write either an empty file or just the value `undefined`.

[2018-01-30 02:14] bithavoc commented on #40
In my case the file is always empty, it's really hard to reproduce.

[2018-02-02 13:30] jviotti commented on #40
What version are you guys running? Do you have an example code I could try? The following PR (https://github.com/electron-userland/electron-json-storage/pull/72) added a lock to protect from parallel writes, and the latest version test suite validates that no corruption happens even after writing and reading from the same file thousands of times.

[2018-02-02 13:30] jviotti commented on #96
Sounds like a great idea. I'd happily take a PR for it!

[2018-02-19 01:51] JimmyMow opened #98 "JavaScript heap out of memory"
When importing the library in the renderer process I get

[code]

when building config for electron renderer process via webpack. Anyone else experience this issue?

[2018-02-19 10:32] jviotti commented on #98
Interesting. How much RAM do you have in your system? Do you have the code somewhere I can try from my machine?

[2018-02-20 03:01] JimmyMow commented on #98
Yes the code is here on branch `feature/autopay`: https://github.com/LN-Zap/zap-desktop/tree/feature/autopay

It requires a outside dependency that is specific to the application though so it might be hard to get it up and running. I will try and spin up a trivial application to reproduce

[2018-03-09 17:24] jsrbn opened #99 "Does store.set() update or overwrite?"
Hey,
my question is whether the `store.set()` function overwrites **all** data inside the JSON path so e.g. when you got a path like `'foobar': {'foo': 'bar', 'bar': 'foo'}` and call `store.set('foobar', {'bar': 'bar'})`, does it remove the `'foo'` entry or does it just overwrite the `'bar'` entry and keeps `'foo'` alive?

[2018-03-11 01:11] jviotti commented on #99
Hi @jsrbn ,

Your assumption is right; `.set()` will override the data at the selected key. You can implement a "merge" behaviour using a combination of `.get()` and `.set()`.

Hope that helps!

[2018-03-11 01:11] #99 closed

[2018-04-03 22:01] seanmcclure22 opened #100 "Allow files to be saved with spaces in the file name"
Hi!

So I am running into an issue where I am building an electron app to be used in windows environments and because of line 123 in utils.js the `encodeURIComponent` method replaces spaces in file names with %20. Saving files with a space in the name is allowed in modern operating systems, and they even mention that you may want to modify the `encodeURIComponent` method on the [official documenta

[2018-04-03 22:02] jakehockey10 commented on #100
I am running into this issue as well

[2018-04-07 23:30] jviotti commented on #100
Hey there! Thank for reporting. I'm happy to take a PR that adds this change and runs a couple of unit tests. If all the platforms agree with this change, then we should be good to go.

[2018-04-25 20:37] jacksonleite opened #103 "Json data duplicated on storage.set()"

[2018-05-04 17:55] #103 closed

[2018-05-06 08:42] ablankenship10 commented on #46
This should be optional functionality provided via an option on storage.get() call. I have default values to apply in the case of no previous saved data but its not possible to detect that there is no data now without either an error or a null value for the empty data.

[2018-05-07 11:46] jviotti commented on #46
@ablankenship10 Maybe we can add a `hasDataDirectory()` function?

[2018-05-08 22:35] philippefutureboy opened #104 "Support for synchronous operations"
Hi!

First of all, thank you for the good work, works like a charm! 🚀

I would like to know if it would be possible to provide a sync implementation of the API. Indeed, in cases where the JSON storage data is used to instantiate modules, having to wrap the instantiation with a Promise/callback is less than optimal. For instance, in my case I am receiving database connection configuration from the

[2018-05-09 12:58] jviotti commented on #104
Hi @philippefutureboy, thanks for the nice words! I'm definitely open to a PR that adds the sync functions. Do you think there is a way we can provide both without much duplication in the internal implementation?

[2018-05-14 21:58] #100 closed

[2018-06-04 09:30] philippefutureboy commented on #104
~weeks later~

So I have more time on hand now, I can contribute. I was thinking to rehaul the entire library to use fs-extra and Promises. Would that be something you'd be interested in?

[2018-06-19 14:33] jviotti commented on #104
@philippefutureboy

I'd prefer keeping the list of dependencies to a minimum. There is an existing PR for adding promise support: https://github.com/electron-userland/electron-json-storage/pull/105.

Lets give that a shot, and see how it goes, as it sounds very cool :) Regarding `deepmerge`, we can probably get away with `Object.assign()`

[2018-06-19 14:44] philippefutureboy commented on #104
Wait, so do you want `fs-extra` or not? Oo

`Object.assign` does shallow merging, whereas `deepmerge` does deep merging. If we need merging, it most likely be deep merging.

What do you think?

[2018-06-26 15:43] jviotti commented on #104
We're not dealing with objects that require deep merging, right? (the ones in the example above are one level, so `Object.assign` should work).

Regarding `fs-extra`, what particular functions from that library are you trying to use?

[2018-06-26 20:51] philippefutureboy commented on #104
True! Sorry, I realized I hadn't communicated the changes that I had thought about since we last discussed.

Essentially what I realized is that a lot of the logic in your package can be replaced with `fs-extra`'s `readJSON` and `readJSONSync`, coupled with promise support. Correct me if I'm missing something, but my understanding is that electron-json-storage is a key-value store that fetches JSO

[2018-07-03 14:29] oscar-renteria commented on #40
Is there any progress on this? I have the same problem. Sometimes the .json file is empty. I have seen this under Windows and Linux with electron-json-storage v4.0.2.

[2018-07-03 14:31] bithavoc commented on #40
@oscar-renteria I've seen it on Mac too, it's annoying and we haven't been able to launch because of it. At first I thought it was electron built-in updater but without any update it still breaks and the json file becomes empty.

[2018-07-03 14:35] jviotti commented on #40
@oscar-renteria @bithavoc As mentioned above, we recently introduced locking on writes and we do stress testing to attempt to detect this. Is there any way I can reproduce?

[2018-07-03 14:42] oscar-renteria commented on #40
@jviotti Unfortunately no. I cannot reproduce it. It happens sporadically from time to time. Does the latest version (4.1.0) implement the lock feature? I would like to give it a try.

[2018-07-03 15:50] bithavoc commented on #40
I'll switch to the latest version and report back.

[2018-07-04 10:04] oscar-renteria commented on #40
Hi @jviotti , is the lock feature on v3.0.6 you are talking about?

![image](https://user-images.githubusercontent.com/20833418/42270601-9438f43a-7f81-11e8-8b0b-d3051840bb5f.png)

Or you just have implemented something new which is being tested?

[2018-07-04 15:31] jviotti commented on #40
@oscar-renteria @bithavoc That's correct. Such change came with this stress testing case (https://github.com/electron-userland/electron-json-storage/blob/master/tests/storage.spec.js#L70) that did reveal a similar problem.

There must be something else going-on in that case. Is there a way I can try the app you guys have? What kind of data are you writing, and on what OSes are you seeing the probl

[2018-07-04 15:34] jviotti commented on #40
@bithavoc @oscar-renteria Can you guys clone this project and run `npm test` on it on a machine that could reproduce this problem?

[2018-07-04 15:36] bithavoc commented on #40
@jviotti I tried a few months back, the test suite passes locally.

You can try on your own, it's random and I haven't been able to reproduce consistently, but basically if the app kicks you out that means the state was lost. http://getgreensand.com/downloads/

We only have builds for Mac and Linux, only Mac users are experiencing it.

Could it have something to do with APFS?

[2018-07-04 15:48] jviotti commented on #40
@bithavoc Cool, I'll give it a shot. Are you using different instances of this module in different processes? The locking we implemented only works if you're using `electron-json-storage` on one process, and doesn't protect you if you are writing to the same file from different processes.

I think if you can describe how you use this module in more detail (ie what processes use it, to write what f

[2018-07-04 15:56] jviotti commented on #40
Hi @bithavoc @oscar-renteria ,

I managed to reproduce this! I upgrade all the electron-related dependencies on this module (check master), and then increased the number of parallel writes we do during the stress testing phase, and that indeed revealed some issues!

[code]

This is what I got on macOS Sierra:

[code]

I'll hopefully work on this tonight, but feel free to attempt a fix until then!

[2018-07-05 08:31] oscar-renteria commented on #40
Hi @jviotti, unfortunately, I cannot share the application but I can describe what it does.

That gave me a hint to probably solve my problem.

The application access the configuration file from the main process and one render process.
Usually, the main process only reads the config file when the application starts. BUT if the config file structure has changed (for example, a new property was adde

[2018-07-05 11:48] bithavoc commented on #40
nice, we use https://github.com/hardchor/electron-redux so we have an store in both processes. changes are we're also saving from both processes. Again, I'm gonna double check and report back.

[2018-07-05 21:27] seesemichaelj opened #107 "File contents empty on read sometimes"
This may be related to #40, but #40 seems to relate more to writing.

My issue is that `get` sometimes reads an empty file (e.g. https://github.com/electron-userland/electron-json-storage/blob/master/lib/storage.js#L133, `object` is an empty string). This causes `JSON.parse()` to fail because there is not JSON object in the string.

The contents of the file are still there, but for some reason `re

[2018-07-05 21:32] seesemichaelj commented on #107
Changing https://github.com/electron-userland/electron-json-storage/blob/master/lib/storage.js#L130-L144 to

[code]

fixes the issue strangely

[2018-07-05 22:10] bithavoc commented on #40
@oscar-renteria @jviotti I'm only initializing the module from the main process, it's the safest way so there is no chance two processes are writing the same state.

[2018-07-05 22:21] seesemichaelj commented on #107
I then tried to recreate the issue in a test to see if `fs` was the issue:

[code]

but alas, no failures. I then thought perhaps it was Electron (which does package it's own nodejs, and apparently wraps the `fs` functions). So I put this test in my electron application to use electron's node, and that wasn't the issue.

The next test is to use `electron-json-storage` in a non electron application

[2018-07-05 22:36] seesemichaelj commented on #107
I also tried manually changing the `package.json` to incorporate the changes from https://github.com/electron-userland/electron-json-storage/commit/7f035f2cf54038c9c45026d977d8556d45706fc9 and alas no luck

[2018-07-09 19:17] seesemichaelj commented on #107
@jviotti would you be opposed to a PR that uses the `readFileSync` method instead of `readFile` in `storage.js:get()`? It seems this fixes the issue, despite the fact I cannot determine the root cause. Thanks!

[2018-07-10 00:30] jviotti commented on #107
Hi guys. Good news! I believe I fixed this issue on this PR: https://github.com/electron-userland/electron-json-storage/pull/109. Would you mind giving a shot to confirm the issue is ruled out before merging and publishing?

Basically the problem was that the locking module I was using was not doing real locking, but just some checks in-memory within the same process, so writing the file from more

[2018-07-10 00:30] jviotti commented on #89
Hi guys. Good news! I believe I fixed this issue on this PR: https://github.com/electron-userland/electron-json-storage/pull/109. Would you mind giving a shot to confirm the issue is ruled out before merging and publishing?

Basically the problem was that the locking module I was using was not doing real locking, but just some checks in-memory within the same process, so writing the file from more

[2018-07-10 00:30] jviotti commented on #40
Hi guys. Good news! I believe I fixed this issue on this PR: https://github.com/electron-userland/electron-json-storage/pull/109. Would you mind giving a shot to confirm the issue is ruled out before merging and publishing?

Basically the problem was that the locking module I was using was not doing real locking, but just some checks in-memory within the same process, so writing the file from more

[2018-07-10 00:39] jviotti commented on #40
Oops! I got the PR link wrong. I edited the original message, but just in case, here is the right one: https://github.com/electron-userland/electron-json-storage/pull/110

[2018-07-10 00:39] jviotti commented on #107
Oops! I got the PR link wrong. I edited the original message, but just in case, here is the right one: https://github.com/electron-userland/electron-json-storage/pull/110

[2018-07-10 00:46] bithavoc commented on #40
@jviotti I'll give it a try, although we double-checked and we're definitely not using the module from two process at the same time.

Should we start using the `proper-locking` branch from package.json?

[2018-07-10 00:50] seesemichaelj commented on #107
Well bummer; for some reason I cannot reproduce the original problem on 4.1.0. however `proper-locking` branch does not break things. From my perspective, I guess I consider this closed after #110 is merged since the original issue could potentially be a locking problem.

I changed code since I first posted this issue so it's possible that caused the issue to not be apparent.

[2018-07-10 09:30] oscar-renteria commented on #40
Hi @jviotti, thank you for the update. I will try it and report back.

Maybe it is worth to mention that I have re-factorized my code and now the application only writes the config from one process. I have installed the new version on some machines where this issue was present. Until now everything has been running well.

And @bithavoc , thank you for the electron-redux tip. I will give it a try!

[2018-07-10 15:52] jviotti commented on #40
You can test it from there, but I'll merge the PR, close the branch, and publish a new version as soon as we can confirm things work.

[2018-07-10 20:09] bithavoc commented on #40
@jkleinsc I tried the branch, my app works. Want to merge?

[2018-07-10 20:10] bithavoc commented on #40
oops, I mean to mention @jviotti ☝️

[2018-07-11 12:58] #40 closed

[2018-07-11 12:58] #89 closed

[2018-07-11 12:58] #107 closed

[2018-07-11 13:00] jviotti commented on #40
Done! Check v4.1.1

[2018-07-11 13:01] bithavoc commented on #40
Awesome thanks @jviotti you 🎸 buddy

[2018-07-11 19:43] jviotti commented on #104
@philippefutureboy I see what you mean now. Yeah, lets give it a shot, and see how the result looks like. If the amount of code is reduced, then that's a big win, and will make it easier to then refactor the project to offer both sync and async versions of the functions.

[2018-07-12 11:59] philippefutureboy commented on #104
@jviotti Wonderful! I'll give it a look this weekend

[2018-07-17 21:05] philippefutureboy commented on #104
@jviotti I've given it some time this weekend – Started with a refresher of the tech used – moving to babel & eslint => see [here](https://github.com/philippefutureboy/electron-json-storage/commit/240669d5cf7a650b9814ad5cd77f4063a3935548)

I'm having a series of test failures, I'll have to look into it as soon as I have some time on hand.

[2018-07-18 20:18] Xsaven opened #111 "storage.set does not work in reducer"
i have a react reducer:
`const fs = window.require('fs');
const path = window.require('path');
const settings = window.require('electron-settings');
const storage = window.require('electron-json-storage');
let server = settings.get('server') || false;
storage.setDataPath(path.join(server, '.lia'));

export default (state = (storage.get('dummy_list') || []), action) => {
  if(action.type=='DUMMY_AD

[2018-07-27 14:21] jviotti commented on #111
@Xsaven Can you provide a runnable example that I can use to reproduce?

Based on what I can see, though, you shouldn't be running an async function (like `storage.set`) in a sync reducer, since you're not waiting for this module to write the data before returning. If your reducer is called often enough, you could be overriding yourself each time.

[2018-07-30 15:06] james-criscuolo opened #112 "Electron dependency breaks electron-builder via Mac App Store"
The electron dependency introduced here: https://github.com/electron-userland/electron-json-storage/commit/7f035f2cf54038c9c45026d977d8556d45706fc9

Causes node_modules to have multiple electron dependencies, or maybe just 1, but typically this is not here. I didn't mess around much, but even setting it to the same version of electron was causing issues. This causes the pList files generated for t

[2018-08-10 13:38] z687wang opened #113 "Electron Dependencies break electron builder on windows"
Extra files was generated after build process.
an electron sample app got packed into /app.asar.unpacked/node_modules/electron-json-storage/node_modules/electron/

[2018-08-14 18:53] philippefutureboy commented on #104
@jviotti I haven't forgotten this. I'm simply overwhelmed with work. I'll definitely get back to this at some point cause I want to see this through.

I also had an idea that I implemented on my side and that works wonders – I wrapper the storage module with an EventEmitter pattern, which grants me the ability to subscribe services to changes in state. This, in turn, allows to get state _always_ s

[2018-08-16 08:46] linxu opened #114 "After depend on electron-json-storage, the exe or dmg becomes bigger. from 50M to 100M！"
After depend on electron-json-storage, the exe or dmg becomes bigger. from 50M to 100M！

[2018-08-20 22:35] a-lizards-breath commented on #113
where did the sample app come from?? Thinking of including this for simple key/val storage in a windows target app, but that sounds.... troubling

[2018-08-20 23:58] Slapbox commented on #114
Something else is certainly responsible for this. If you're using Webpack, use the BundleAnalyzerPlugin to determine what's adding this size to your output file. Also be aware that you can use the ASAR tool to unpack your app.asar file (or equivalent) and explore the contents.

[2018-08-21 05:36] linxu commented on #114
i use electron-forge

[2018-08-23 15:14] wduminy commented on #114
I also saw some unexpected electron dependencies being pulled in while using a slightly older electron.  However, after I upgraded to electron to v2.0.7 things returned to normal.

So you could try to upgrade your electron-forge to the latest version.

[2018-08-25 14:26] fyjham-ts commented on #114
Have had the same issue using electron-builder v20.28.2 to build with a reference to electron-json-storage.

This folder is introduced into the built output if I depend on electron-json-storage "\resources\app.asar.unpacked\node_modules\electron" - it seems to require electron as a dependency & hence causes the builder to include it in the app (Despite the fact it's already in there)...

[2018-08-25 20:15] Slapbox commented on #114
@jviotti should `electron` be a dependency here or a peerDependency?

[2018-08-25 20:43] jviotti commented on #114
@Slapbox @fyjham-ts That's absolutely correct. Thanks a lot for catching this! Do you want to send a PR? I'll approve and publish ASAP

[2018-08-25 20:47] jviotti commented on #112
Hi @james-criscuolo ,

Thanks for the heads up. This should have been a peer dependency, as you pointed out. Can you send a PR for it? I'll merge and publish right away!

[2018-08-25 20:48] jviotti commented on #113
Yeah, `electron` should have been a `peerDependency`. Feel free to send a PR :)

[2018-08-25 21:08] Slapbox commented on #114
@jviotti thanks for your quick response. I just sent over https://github.com/electron-userland/electron-json-storage/pull/115 .

I haven't tested it besides for invalid JSON, but I see no reason this shouldn't work.

[2018-08-25 22:36] james-criscuolo commented on #112
I see another user already covered this in #114, please let me know if there is anything else I can do.

[2018-08-26 02:04] Slapbox commented on #113
Sent a PR for this earlier. Just mentioning so no one else needlessly does it again.

[2018-08-26 08:17] linxu commented on #114
cool

[2018-08-26 17:48] jviotti commented on #114
I published the fix as v4.1.2. I'll close this ticket now, but please let us know how it went :)

[2018-08-26 17:48] #114 closed

[2018-08-26 17:48] jviotti commented on #113
I published the fix as v4.1.2. I'll close this ticket now, but please let us know how it went :)

[2018-08-26 17:48] #113 closed

[2018-08-26 17:48] jviotti commented on #112
I published the fix as v4.1.2. I'll close this ticket now, but please let us know how it went :)

[2018-08-26 17:48] #112 closed

[2018-08-28 02:46] z687wang commented on #113
@jviotti Thank you.

[2018-08-28 07:16] SirWaddles opened #116 "Error: EPERM: operation not permitted, open"
I'm getting the above error on Windows while using `electron-json-storage:4.1.2`

I'm building an import procedure which does a large number of requests inside of a single `Promise.all`, and `storage.get` is being used inside of electron's `session.webRequest.onBeforeSendHeaders` (as an authentication mechanism)

![](https://genj.io/i/0598611bedc4.png)

I think this has to do with the concurrency

[2018-09-03 09:29] jviotti commented on #116
Hi @SirWaddles ,

Thanks for the report! Do you have a whole stack trace I can take a look at? I'm basically trying to find out if this problem happens when locking or unlocking.

Is this happening on other OSes, or just Windows?

[2018-09-10 09:08] jviotti commented on #116
@valhalla13 @SirWaddles Do you mean it comes on any `fs` function call? Does it also happens when locking and unlocking? Does it eventually succeed if you keep trying? Can you check if people that see this error have any anti virus installed? I remember seeing something similar with various anti virus which would request exclusive access to files while scanning them, and thus causing EPERM for any

[2018-09-11 16:47] vietquocnguyen commented on #70
What do you mean by `rwlock` dependency? and using `async/queue`? Thanks

[2018-09-20 16:26] MarlonCopeland opened #117 ".getAll is kinda slow. how can I speed it up?"
I set my path to be a separate folder that will only hold my app's json values. But when trying to pull all the values (which is only 1) it takes like 5 seconds.. can you help me speed this up?

[2018-09-23 16:44] JerryGoyal opened #118 "The exe becoming double the size even after updating electron-json-storage to 4.1.2"
I looked into the issue https://github.com/electron-userland/electron-json-storage/issues/114 but my electron app is still doubling the size.
w/o electron-json-storage: 35 mb
w/ electron-json-storage: 71mb

"electron": "^2.0.10",
"electron-json-storage": "^4.1.2",
 "electron-builder": "^19.56.2"

[2018-10-01 10:44] jviotti commented on #116
@SirWaddles Thanks a lot for the stack-trace; that helps a lot! Can you try v4.1.3 and see if the issue is gone? Windows Defender can definitely be the cause. It gave us a lot of head-aches on https://etcher.io :D

[2018-10-01 10:48] jviotti commented on #117
Hey @MarlonCopeland ,

That's very weird! What OS are you running this on? Do you have a small reproducible example I can try from my side? This module uses `fs` under the hood, which should be very fast. The only reason for the slow down that I can think of is that `electron-json-storage` might be retrying multiple times to obtain the lock. Maybe try attaching a debugger, stepping through the cod

[2018-10-05 13:12] zankooh commented on #116
I have the same exact problem with v4.1.3.

[2018-10-07 11:43] jviotti commented on #116
Hey @zankooh ,

Hm, that's very interesting. Do you have a stack trace you can share?

[2018-10-08 10:32] bingqiao opened #120 "Electron dependency gets packaged into resource"
I think this issue was raised in [133](https://github.com/electron-userland/electron-json-storage/issues/113). It is however the **electron dependency**, not a sample app, being packed into resource.

And that fix in 4.1.2 does not work. Electron dependency still gets packed into win-unpacked\resources\app.asar.unpacked\node_modules by electron-builder. Why does electron need to be a dependency/pe

[2018-10-09 17:07] #120 closed

[2018-10-09 17:08] jviotti commented on #120
Hey there!

You're right! Can you try v4.1.4?

[2018-10-10 18:37] bingqiao commented on #120
Yes it now has been fixed. Thanks

[2018-10-11 08:00] bingqiao commented on #118
This could be related to:
https://github.com/electron-userland/electron-json-storage/issues/120

[2018-11-15 16:40] ozooner commented on #116
I upgraded our app to 4.1.4 from 4.1.3 in hopes to get the bug fixed, but I can confirm that 4.1.4 still has the issue. I myself am unable to reproduce it, but it happens on about 5-10% of our windows users. There are very few OSX and Linux installs, so I can't rule them out completely, but no incidents there so far...
No stack to share unfortunately, as I can't reproduce it on my machine, but I c

[2018-11-26 09:50] zankooh commented on #116
I think I managed to solve the problem. It might not the electron-json-storage itself. The problem might be file system related.

Whenever I read a .json file with _electron-json-storage_, the file gets temporarily **locked** (by the file system I assume?) and then it gets unlocked, being free to read without any problems. Now, if I try to read the same file while it's locked, I get the error. In

[2018-11-26 10:08] ozooner commented on #116
I solved it similarly:
On electron startup the program reads file into memory. Then all reads are done from memory, and writes are done by updating the storage file in memory and then calling a throttled function to write to file. If multiple writes happen fast, the throttle would just delay the writes to every 2 seconds and write most recent object from memory to the file.
https://codeburst.io/th

[2018-12-02 11:54] jviotti commented on #116
Very interesting! Presumably this is a Windows only issue, right? I think we could add logic to `electron-json-storage` to retry if it gets an EPERM during reads for this reason. I sadly only have access to a Windows VM nowadays, and I can't seem to be able to reproduce on that setup.

I might at least draft a patch and we can see how it goes.

[2018-12-02 12:11] jviotti commented on #116
I just sent https://github.com/electron-userland/electron-json-storage/pull/122. Let me know how it goes!

[2019-01-03 16:45] Slapbox opened #123 "On rare occasion file written by electron-json-storage is zeroed out."
I've been struggling for months to find the root cause of this issue, but it occurs so rarely I've been unable to pin it down.

I think this happens mostly on Mac, though perhaps my sample size is just too small to accurately tell if environment is a significant factor. This still happens on `4.1.5`.

[2019-01-07 16:51] Slapbox commented on #123
Hey @jviotti thanks for your response.

**Are you using it from the main or renderer process (or both)?**
Just the renderer process.

**Is more than one process potentially writing to a key at the same time?**
Nope.

**Do you usually update different keys or the same one?**
I'm overwriting the entire file currently [using this code](https://gist.github.com/Slapbox/a7d055cf4193328c2fe9d1d7cf88c0b8)

[2019-01-08 12:43] jviotti commented on #123
@Slapbox Thanks for the detailed info!

I'm more interested in the structure of the data (i.e. a big object or many arrays) than about the content.

By looking at your gist, there is nothing waiting for the `.set()` function to complete: https://gist.github.com/Slapbox/a7d055cf4193328c2fe9d1d7cf88c0b8#file-storage-js-L10. If for whatever reason (like something in the OS causing the writes to slow

[2019-01-08 17:52] Slapbox commented on #123
@jviotti thanks for your details response! I'll have to do some tinkering to find out the answers. You're right nothing is waiting for the `set` operation and it hadn't occurred to me how much something like an AV might slow things down.

When the file is "zeroed out" it's zero bytes, but I can't recall with certainty if there's any characters inside. I'm guessing not. The reading back happens onl

[2019-01-26 03:11] jviotti commented on #123
Hey @Slapbox,

Did you have time to play around with this?

A completely zeroed out file would be pretty weird; I'd expect an empty object, or some random corrupted stuff. Maybe it'd make sense to log that last modification date of the file on an error handler when this problem happens?

[2019-01-26 03:12] jviotti commented on #45
Very interesting! We should move to https://github.com/npm/write-file-atomic then. Happy to take a PR :)

[2019-01-26 17:07] #45 closed

[2019-01-26 17:08] jviotti commented on #45
I got some time to work on this today. Check v4.1.6!

[2019-01-27 03:56] jaruba commented on #123
Sounds like: https://github.com/nathanbuchar/electron-settings/issues/110

I'm actually running around through github trying to find a module that saves json to a file that DOESN'T destroy the entirety of the data on restarts or unexpected shutdowns.

Even with atomic saving implemented in `electron-settings`, I'm still encountering such issues sometimes.

[2019-01-27 19:54] jviotti commented on #123
@jaruba Do you notice any patterns when this happens? Is it mostly a particular OS (with a particular version)? A similar setup?

Can you actively reproduce by restarting or shutting down the computer in the middle of a write?

As a side note,  v4.1.6 of this module implements atomic writes.

[2019-01-27 20:32] jaruba commented on #123
I've added atomic write to a fork of `electron-settings` and used the version that has it for months now, it used to happen more when atomic write wasn't implemented, but my pc used to have unexpected shutdowns more often too (a hardware issue that i fixed in the meanwhile).

My application runs on start-up, is generally kept running constantly and still seems to loose all data on restart, it stil

[2019-02-01 20:09] jviotti commented on #123
@jaruba That's very strange. Keep in mind that with something like sqlite, the data will still be in a single fail, so if there is something at the OS level, then the issue may persist.

These electron settings modules are all pretty much thin wrappers over the official Node.js file-system modules, so I'd research a bit if any other Node.js user is reporting similar issues on the Node.js file-syst

[2019-02-06 21:48] jaruba commented on #123
I was using Electron v1.6.7, and although it makes sense that the `fs` module might be at fault here, i'm also using this in an extreme scenario in which my app is always running on the system. I've updated to Electron v3.1.3, and will continue tests on it. I'd avoid using Electron v4.x.x unless this issue is still present as usually the latest versions of Electron do more harm then good.

I'll ke

[2019-02-09 15:40] jviotti commented on #123
@jaruba Sounds good. Here is an idea of something you can do to both try to mitigate the problem and get more info about the problem:

Maybe you can store your data twice (or more times) in different files, and you read from all of them every time you need to access the data. If one is empty, then you report the contents somewhere for debugging purposes, and you can still use the other file which

[2019-02-10 21:43] Slapbox commented on #123
Just wanted to update this issue to say that I'm pretty sure I've managed to avoid this issue by immediately flushing my throttled version of `electron-json-storage` when the app is ready to quit, and extending the app's time to quit by several seconds. It's not the cleanest solution, but no data loss for the past month. Still, the issue is very rare to begin with and perhaps I've avoided it by sh

[2019-02-10 22:17] jaruba commented on #123
@Slapbox I not only understand ur predicament for a simple testing environment against this, but it also makes more sense to me then presuming there's a bug in the `fs` module.

Unexpectedly interrupting a write with an app quit could definitely cause this issue, and definitely did  so in the past, although atomic saving should safeguard against such a scenario.

I'm not throttling writes though,

[2019-02-15 23:21] Slapbox commented on #123
Just an update, I hit this again in development. The file is totally empty, no `{}` or anything.

[2019-02-19 02:41] paulius005 opened #125 "EPERM: operation not permitted, rename"
We have recently released an update of our app to production with a switch to `electron-json-storage` over https://www.npmjs.com/package/electron-store because I saw #122  and #124 implemented.

We have started to get a lot of `EPERM: operation not permitted, rename 'HOME\AppData\Roaming\Loom\storage\preferences.json.3783979581' -> 'C:\Users\[USER_NAME]\AppData\Roaming\Loom\storage\preferences.jso

[2019-02-19 02:42] paulius005 commented on #125
We are on `4.1.6`

[2019-02-20 14:31] james-criscuolo opened #126 "Warning upon building with 4.1.6 (latest)"
I'm seeing a new warning when building with webpack, it's an angular AOT build:
[code]
This does not appear to break my build, so it does not look like I'll need to go to an earlier version. I import a non-standard way, but it appears the recommended way also causes it:
[code]
(both cause the issue)
I can also confirm this does not occur with 4.1.5

[2019-02-27 16:24] jviotti commented on #126
Hey @james-criscuolo ,

That looks like an issue on `write-file-atomic`, so I'd suggest re-opening this issue there. I believe it works fine in previous versions because this module started requiring `write-file-atomic` quite recently!

[2019-03-06 15:44] Jack-Barry commented on #73
Any updates on this one? Would love to use async/await with these methods

[2019-03-06 17:16] Jack-Barry commented on #73
Did find a workaround for this - didn't want to go so far as adding Bluebird so just did a manual Promise for it:

[code]

Taken a step further, mocking this in Jest:

[code]

[2019-03-07 17:02] vikdotdev opened #127 "Correct way of using electron-json-storage from renderer process"
When I use `storage` inside renderer process to write data on `unload` event. It works about 50% of the time, another outcome is that it produces file that looks like this `data.json.2866685502`.

When renamed without numbers the data inside is intact. On app restart the data obviously won't load. It looks like something locks the file and I have no idea what could cause that. `storage` is not use

[2019-03-08 10:15] vikdotdev commented on #127
I figured it out. I simply needed to make store method return a promise and close on promise resolve.

[2019-03-08 10:15] #127 closed

[2019-03-12 08:52] jviotti commented on #127
I'm glad you figured it out! Let us know if you still need any help

[2019-03-12 09:03] jviotti commented on #73
@Jack-Barry We initially had promise support through Bluebird, but we faced some inter-operatibility issues between Bluebird and Electron that made us go back to plain callbacks. Native promises will probably do, though.

I think we could start slowly transitioning to native Promises by adding them in all the methods while still preserving the callback interface. I might be able to work on it soon

[2019-03-12 11:31] Jack-Barry commented on #73
@jviotti Would love to contribute! I figured they'd need to be implemented in a way that wouldn't be a breaking change. Might take me a few weeks to get around to it but will take a look if it's not implemented by the time I can.

Cheers 🍺

[2019-03-19 04:17] vhmth commented on #125
We are also getting `EBUSY`. Presumably same issue bubbled up as a different FS error.

[2019-04-25 19:22] Slapbox opened #129 "File has around a thousand <0x00> appended to the end of nearly intact data"
`<0x00>` is an invalid character code as I understand it. This is the first time I've witnessed this occur.

It looks like possibly the write was interrupted, as towards the end of my file suddenly JSON ends and the `<0x00>`s begin. Probably outside the scope of this module, however on the off chance this was caused by this module and not the system, here's an issue for anyone else who sees this t

[2019-05-10 09:14] kevintravels93 commented on #116
I have a similar issue. I can´t edit the config.json from the electron store. I get this error.

If I try to change the file in the explorer or if I try to change the file with the set method.

![image](https://user-images.githubusercontent.com/42600753/57515914-fd22cd00-7313-11e9-95ff-100a9ff6ba58.png)

I manually changed the path inside the electron-store module. Now I  can access the File and m

[2019-05-10 10:12] jviotti commented on #116
Hey @kevintravels93

Do you mean you can reproduce the `EBUSY` by trying to change the file with something like `notepad.exe` rather with the module?

I googled around and I found out that [this tool](https://docs.microsoft.com/en-gb/sysinternals/downloads/process-explorer) allows you to inspect what processes are opening what files in Windows.

Can you revert back the directory setting, and once

[2019-05-10 10:25] jviotti commented on #129
Hey @Slapbox ,

That is indeed super strange. I did some research and found some interesting things that seem related:

- https://stackoverflow.com/questions/10913632/streamwriter-writing-nul-characters-at-the-end-of-the-file-when-system-shutdown: Claims its known NTFS/Windows behaviour (?)
- https://stackoverflow.com/questions/27268994/why-do-i-have-a-million-null-characters-at-the-end-of-my-csv-

[2019-05-26 06:46] Hermel opened #130 "Error Handling"
Hi,
We are using the API in our app, and we are working now on error handling.
We would like to know if there is a list of all the errors (or at least the most common ones) that the API returns.

[2019-06-01 18:01] jviotti commented on #130
Hey there! There are a plethora of errors this module can return, coming from the dependencies we use. The most common ones are I/O errors coming from the `fs` Node.js library. Pretty much any other error you hit is something caused by wrong usage of the library (i.e. setting an invalid data path) or something we should fix!

[2019-06-03 06:01] igabriel-olint opened #131 "Can we have append method ?"
Eg. storage.append(keyname,data,callback)

[2019-06-18 09:36] DylanVerstraete opened #132 "Lock file gets generated when trying to remove a file by name in storage"
<img width="277" alt="Schermafbeelding 2019-06-18 om 11 34 24" src="https://user-images.githubusercontent.com/17138347/59670969-1ba2a080-91bd-11e9-9e1c-2702f1fcd4b5.png">

This lock file shows up in storage when trying to remove a file by key. This does not always occur. Any suggestions?

[2019-06-24 10:49] Woeler commented on #131
Seconding this

[2019-08-07 02:58] Hrithvik-Alex commented on #131
I would appreciate this as well

[2019-08-12 12:17] jviotti commented on #132
Hey @DylanVerstraete. I think this is safe to ignore. It comes from the `lockfile` module we're using (https://github.com/npm/lockfile/blob/master/lockfile.js#L224) to ensure safe concurrent I/O on the files.

Are you getting this file when listing by key?

[2019-09-13 09:50] jviotti commented on #132
Thanks @DylanVerstraete. I have a fix here: https://github.com/electron-userland/electron-json-storage/pull/137 and I'll publish to npm today.

[2019-09-13 09:55] DylanVerstraete commented on #132
Thanks !

[2019-09-13 09:58] jviotti commented on #132
@DylanVerstraete Its v4.1.8 on npm!

[2019-10-22 14:25] james-criscuolo commented on #126
Closing this as Node 12 is now LTS, and it doesn't occur there.

[2019-10-22 14:25] #126 closed

[2020-01-03 14:51] kasenvr commented on #131
I concur with this motion. It really bothers me that I have to have 20 JSON files for 20 keys, instead of being able to traverse one file with 20 keys within it.

[2020-01-14 18:45] NickPepper commented on #125
The same issue using version 4.1.8 - on Windows and on release build only (on 'development' environment all is OK as well as on all *nixes)

[2020-02-04 08:59] searinfotech opened #139 "contactList"
[
 {
   "name":"Louis Litt",
   "preview":"You just got LITT up, Mike.",
   "avatar":"http://emilcarlsson.se/assets/louislitt.png",
   "isOnline":true
 }
 ,{
   "name":"Harvey Specter",
   "preview":"Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.",
   "avatar":"http://emilcarlsson.se/assets/harveyspecter.

[2020-03-19 10:29] jviotti commented on #125
I believe the rename operations are due the atomic write features, but there must be an underlying issue with Windows that prevents them from happening.

How reliably can you reproduce this errors? Does it happen every time or rarely?

Do you have any anti-virus software installed on those machines?

I heard about some anti-virus softwares that attempt to automatically quarantine files in certain

[2020-04-12 14:19] xmedeko commented on #23
It would be better to have some pluggable architecture to plug any custom encode/decode (compress/uncompress) code.

[2020-04-17 15:27] mifi commented on #125
All Node.js database modules using `write-file-atomic` are suffering from this. See https://github.com/sindresorhus/electron-store/issues/103
Windows rename function tends to fail a lot, especially due to antivirus. workaround is to retry.

[2020-04-26 23:40] laszukdawid opened #140 "Is this package still mainated?"
Saw mentioning of this package in one of the [stackoverflow questions](https://stackoverflow.com/a/35005205/2687601) and thought about giving it a shot. However, checking this GitHub page I see that the dependencies are outdated and there are plenty of old tickets. Is anyone still looking at this repo?

[2020-04-27 11:31] #130 closed

[2020-04-27 11:32] jviotti commented on #140
Hi @laszukdawid, I try to keep an eye on the project as time permits, but I'd love to get some help with things like outdated dependencies or some of the feature requests. I'll review any incoming PRs!

[2020-04-27 11:32] #140 closed

[2020-05-04 05:50] annieh12 commented on #36
@Nihahs I have the same problem and i also use `window.require`, but it still not work.

[2020-05-19 17:32] Tobias-Keller commented on #131
where is the problem? append your keys to a existing file:
[code]

[2020-07-08 15:29] 255kb commented on #123
I encountered the same problem on Mockoon (https://github.com/mockoon/mockoon). File gets emptied, apparently after a save or after closing the application. I only noticed this after the next launch, so I cannot know for sure what the cause is and I don't have any meaningful logs. It happened to me once on Win 7 with the packaged app (after a savage computer shutdown, but the application wasn't sa

[2020-07-08 18:31] Slapbox commented on #123
I didn't know #128 existed. I would _really_ like to see that merged.

[2020-07-09 12:49] jviotti commented on #123
I'm shipping a `validate: true` opt-in option in `.set()` as part of v4.2.0 that will make `.set()` read back the keys after a little while and retry (for a limited number of times) if the contents do not match. Use this with care though, as you might get into some concurrency problems if more than one process writes keys at the same time and try to validate what each other wrote.

[2020-07-09 12:49] #123 closed

[2020-09-05 15:43] Tobias-Keller opened #145 "compatibility with electron 10"
tested today the packe with electron 10
and only can use it if i activate the "enableRemoteModule" webPreference.

in electron 10 they changed the default value of "enableRemoteModule" to false,
because there are better ways.

will this be updated in this package, so electron-json-storage uses better methods?

[2020-09-09 15:54] jviotti commented on #145
Hi @Tobias-Keller ,

Thanks for the heads up. I haven't been involved in the Electron.js community lately, but I'll do some research. In the mean-time, what are those better methods that you are mentioning?

Do you have a rough idea of how things should work on Electron.js 10, and how to add this in a backwards compatible way to this module?

[2020-09-09 16:04] Tobias-Keller commented on #145
instead of using the remote module, we can use the ipc
ipc compatibility in the main process: https://www.electronjs.org/docs/api/ipc-main/history
ipc renderer compatibility: https://www.electronjs.org/docs/api/ipc-renderer/history

why? read this:
https://medium.com/@nornagon/electrons-remote-module-considered-harmful-70d69500f31

[2020-09-30 23:46] TiagoSilvaPereira opened #146 "Error: Cannot read property 'match' of undefined"
Hi there, I'm trying to use electron-json-storage, but I'm getting this error in the console:

[code]

Package Version: 4.2.0
OS: Ubuntu 20.04 (Linux 5.4.0-48-generic)
Electron: 9.3.1

What can I do to avoid this error?

Thank you for your help!

[2020-10-05 14:16] jviotti commented on #146
Hi @TiagoSilvaPereira,

Thanks for reaching out, and sorry for the delay!

Can you share your WebPack configuration here? I'm under the impression that there is something in WebPack messing up with this module. Can you also try running your project without making `electron-json-storage` go through WebPack?

[2020-10-05 14:40] jviotti commented on #145
So the only place that we rely on this is in order to get the `userData` path:

[code]

Doing this with IPC would overly complicate this module, as you would need to setup the module in the main process before using it the renderer process instead of just `require()`ing as it is now. Let me see if I can come up with a another solution...

[2020-10-05 14:46] jviotti commented on #145
OK, so I don't think its going to be easy to completely get rid of `remote` while letting the module be easily setup. At least for the time being, I'll update the docs to clarify that if you want to run this module on a renderer process *without* using `remote`, then you can manually call `.setDataPath()` on the renderer process (assuming you obtained the data path through a custom method) before

[2020-10-05 14:51] jviotti commented on #145
Actually, are you sure this deprecation has been decided? It seems like it is still under discussion based on https://github.com/electron/electron/issues/21408, and it seems to work fine for me.

What exact Electron version are you testing this on? Is it actually failing for you? Can you provide a test app?

[2020-10-05 15:00] Tobias-Keller commented on #145
its in the breaking changes on version 10:
https://www.electronjs.org/docs/breaking-changes#default-changed-enableremotemodule-defaults-to-false

so i think you can reproduce this with every electron 10 app without setting `enableremotemodule` to true manually

[2020-10-05 15:25] jviotti commented on #145
Right, my bad. I was still accidentally running on v9. I'll update the README

[2020-10-11 20:49] Unknown025 opened #149 "JSON Changes Do Not Persist"
Hello there!

I've been trying to figure out a very simple problem, and have come to a solution that doesn't sit well with me, so I wanted to reach out and double check.

I have some functionality that requires reading from a key, making changes to the object retrieved from that key, and writing those changes back to the original key. The problem is that the changes I make to that key don't get sa

[2020-10-12 15:32] jviotti commented on #149
Hi @Unknown025 ,

That sounds pretty strange. We have many tests that cover similar scenarios (https://github.com/electron-userland/electron-json-storage/blob/master/tests/storage.spec.js) and most `electron-json-storage` users perform very similar workflows.

What operating system are you running this on? How does the object look like?

I'm wondering if this is related to the fact that you are ru

[2020-10-12 19:58] Unknown025 commented on #149
I'm running on Windows 10, though intend to also test on macOS.

The object I'd like to save looks something like this: `{"authenticationDatabase":{"testUuid2":{"name":"Some Name 2","display":"Something or other"}}}`, essentially a dictionary of UUIDs with corresponding objects, normally containing a display name or JWT.

I tried running outside of React, during the initialization of the applicati

[2020-10-14 03:58] Holybasil opened #150 "error in production"
electron: 8.2.0
electron-json-storage: 4.2.0
[code]

And,
![image.png](https://i.loli.net/2020/10/14/A52OdCFaz1pB8cJ.png)

[2020-10-16 14:49] jviotti commented on #149
I'm glad you figured it out!

We don't support that, but it would be interesting to support an option to pretty print before saving. This is the line that stringifies the object if you are up for sending a PR: https://github.com/electron-userland/electron-json-storage/blob/master/lib/storage.js#L316

[2020-10-16 17:50] jviotti commented on #150
Hey @Holybasil,

I believe you need to set `nodeIntegration: true` in order to access the `process` global object.

What I think its happening is that you can always access `process` at this point. If the environment is production, then you don't enable `nodeIntegration` on that renderer process, which eventually makes `rimraf` crash, as that module presumable does try to access `process`.

In sum

[2020-10-16 22:39] Unknown025 commented on #149
#151 Alright, I've sent a PR.

[2020-10-21 06:10] #150 closed

[2020-10-21 12:47] Holybasil commented on #150
I have found a solution.

main.js
[code]
renderer.js
[code]
And 'set' is just like this way.

[2020-12-28 13:57] pierreraii opened #155 "Electron v11 support"
Was upgrading today to Electron v11

Using: electron-json-storage v4.3.0

Even after passing the data path form main_process to the renderer_process, and setting storage.setDataPath() in the renderer_process an error is being triggered by the utils.js line 30 (const app = electron.app || electron.remote.app)

I am calling storage.setDataPath() with the relevant path first thing after requiring the

[2021-01-07 16:36] jviotti commented on #155
Hi @pierreraii ,

Sorry for the delay and hope you had a happy new year. Do you mind posting what the error message is?

[2021-01-16 08:38] pierreraii commented on #155
Hello @jviotti,

The error is something like (Will try to edit this with a screenshot later): 'app of undefined' (Debugger points to remote being undefined in electron.remote.app which triggers the error) and this is caused by setting enableRemoteModule to false

[2021-01-23 17:54] Hamdikhalid43 opened #156 "حياة السود مهمه, فهل ستتحقق احلامهم وآمالهم مع بايدن!!! Black life is important, so will their dreams and hopes come true with Biden !!!"
سنضل دائما متفألين..
We'll Be More Hopeful,
Let's Wait &  See !!

What's About You, Don't You?

اترك الجواب التعليق لكم

[2021-01-23 17:58] Hamdikhalid43 commented on #156
  ..سنضل دائما متفألين

We'll Be More Hopeful,
Let's Wait & See !!

What's About You, Don't You?

اترك الجواب التعليق لكم

[2021-01-23 17:58] #156 closed

[2021-01-24 21:18] Hamdikhalid43 opened #157 "See my "report link bellow" and help me to Fix it.. to get my google adsense website be fixed and to start showing ads on my site, to let me quick earn real money, as google adsense publishing, advertising and contributing website."
https://support.google.com/legal/troubleshooter/1114905

[2021-01-25 16:42] #157 closed

[2021-02-10 23:13] Slapbox commented on #155
@jviotti are there plans to support `contextBridge` for security?

[2021-02-12 12:53] jviotti commented on #155
Hey @Slapbox , I'm thinking `contextBridge` is a wrapper around `electron-json-storage` that client applications can opt-in for. I haven't played with `contextBridge` much but as far as I understand, the client application can either:

- Require `electron-json-storage` directly on the renderer process, or
- Wrap `electron-json-storage` using `contextBridge` and access it as i.e. `window.storage`:

[2021-02-12 19:47] Slapbox commented on #155
Hey @jviotti thanks for your reply!

I figured basically the same as you about just using `exposeInMainWorld` to expose `storage`, but it still requires `remote`, which should be phased out I think - especially if it's only being used for `app.getPath('userData')`. It seems like this could be worked around by having the user manually pass the string or by including a simple secondary import that s

[2021-02-18 21:20] jviotti commented on #155
@Slapbox

That is a great point! I've sent https://github.com/electron-userland/electron-json-storage/pull/159 to try to auto-detect if the remote module is available from a renderer process and if not gracefully fallback to requesting the user to manually set a data path. I couldn't test it yet but I suspect that you can just check if `remote` and `remote.app` are truthy.

Do you happen to know i

[2021-02-18 21:23] jviotti commented on #155
@Slapbox As an aside, you are doing a lot of work around this module, so I wonder if you would be open to co-maintaining this project. I believe I can you invited into this org if so. What do you think?

[2021-02-18 21:44] jviotti commented on #155
@Slapbox The PR I sent you seems to make the module work fine with `contextIsolation`. I tested this out on a `BrowserWindow` with:

[code]

And whose preload script runs:

[code]

[2021-02-18 21:46] jviotti commented on #155
I guess that what we can do is detect if `electron.contextBridge` is defined, and if so run:

[code]

[2021-02-18 21:48] jviotti commented on #155
However keep in mind that I believe this does need to be done from within the preload script. So we would have to update the README to tell people to just add the following line to their preload script:

[code]

Or something like that.

[2021-02-22 15:08] jviotti commented on #155
I published v4.4.0 with the latest fix

[2021-02-22 19:28] Slapbox commented on #155
Unfortunately I'm not sure about `electron-mocha` but holy cow you already got this fixed before I even got a chance to reply!

I'd be open to helping to maintain, but I have to mention that I've got no experience with open source projects besides one-off pull requests and rambling in the issue trackers. I'd be happy to help how I can though.

I'm looking forward to giving your new PR a try! We ha

[2021-02-26 20:26] jviotti commented on #155
@Slapbox

Yeah, feel free to send a PR updating the README promoting best practices!

[2021-03-16 00:14] zababurinsv opened #162 "How set path in electron app ?"
## My folder structure looked like this.
---
[code]
* I build application with `"electron-builder": "^22.9.1"`

* I install `electron-json-storage`
* My `package.json`
[code]
* I can set folder in cwd.

[code]
---
### How can i setDataPath inside my application in dir `storage/words.json` ?

[2021-03-16 20:23] #162 closed

[2021-03-17 14:50] jviotti commented on #162
@zababurinsv I'm not sure I understand the question. Did you manage to resolve it? Can you elaborate otherwise?

Are you trying to set the data path to be *inside* the application along with the source code? If so, keep in mind that this will not play nicely in production as your application will likely be code-signed and therefore must be treated as read-only, else the signature will break.

[2021-06-23 09:20] Serjeel-Ranjan-911 commented on #131
if you want to append to a file having data in array of objects form [ {} ,{} ,{} ]. then for now we can do is
[code]
if the file is fresh. write an emtpy array [] to it to avoid any errors.

[2021-06-23 14:59] jviotti commented on #131
@Serjeel-Ranjan-911 Sounds interesting and simple enough. Perhaps you would be interested in sending a PR yourself, or at least an initial draft?

[2021-06-23 15:36] Serjeel-Ranjan-911 commented on #131
@jviotti this is not an efficient method. It's a temporary fix for people making it work. This would be bad for very large files.

[2021-08-19 16:58] jviotti commented on #131
@Serjeel-Ranjan-911 I agree, but sadly you can't do anything more with JSON with the parsers available in Node.js. Most JSON parsers require the entire document to be parsed before any modification, and then written back again. If your use case involves appending a lot of data to a list, I'd recommend using something other than JSON.

[2021-09-21 00:41] juanmartin opened #168 "Electron v14 support"
Hi, I've just updated Electron to latest v14.0.1 and can't set the data path.
I always get the `Error: You must explicitly set a data path`.

This is my config for the main Window:
[code]

I've used `storage.setDataPath(storagePath);` where I pass the `storagePath` through IPC to the renderer process.
Also tried setting the data path in the main process, but still get the error.
Calling `storage.g

[2021-09-21 15:20] #168 closed

[2021-09-23 14:33] jviotti commented on #168
Glad you got it solved!

[2021-09-24 07:23] gruen1988 opened #169 "missing module after building in vue"
after building with vue-cli-plugin-electron-builder this error appears:

i use electron v.13.0.0 and
vue-cli-plugin-electron-builder 2.1.1

[2021-09-24 16:54] jviotti commented on #169
Hey @gruen1988 ,

The issue sounds more related to `vue-cli-plugin-electron-builder` than to `electron-json-storage`. For some reason, the module is not in the path, or such electron builder is trying to find the module in another path.

Do you have a fully-reproducible example we can take a look at?

[2022-01-25 12:15] iamterryclark opened #171 "Issues finding modules from EJS using electron packager"
I am trying to package my application using electron-packager and have required the EJS module into my electron `main.js` file.

[code]

I added EJS in my dependencies but am not able to run the packaged application as it complains about not finding `lodash` ... and I presume all of the other dependencies located in EJS `package.json`

I added EJS as a dependency of my application so that my `main

[2022-01-25 18:37] jviotti commented on #171
Hey @iamterryclark ,

Are you sure this is related to `electron-json-storage`? Does the issue disappear if you uninstall `electron-json-storage`? If not, it might be a problem to report to `electron-packager` instead.

[2022-01-26 09:15] iamterryclark commented on #171
Thanks for getting back.

This is the only external module I am using on the main process side of the code. Other than with `child` and `path` modules along with `require('electron-devtools-installer')` which only gets required in dev mode. I have packaged the app many times before adding this module with no issues.

I will keep looking into packager, in case I have `--ignored` something crucial.

[2022-01-26 15:53] iamterryclark commented on #171
My apologies,

I am also developing this app inside a monorepo, which hoists dependencies up. more information on this I found here https://github.com/lerna/lerna/blob/main/doc/hoist.md. No solution as yet, i need to stop the hoisting on this modules dependencies and their sub dependences.

must be an thing with requiring modules. I guess a work around would be for me to use this on the renderer p

[2022-01-26 15:53] #171 closed

[2022-04-14 09:01] garasubo opened #177 "async 2.0 has vulnerable issue"
async 2.0 includes vulnerability (https://github.com/advisories/GHSA-fwr7-v2mv-hh25).
I looked into the usage of async library in this project, and it looked this project didn't use the vulnerable method. However, this caused warning message from npm both in this project and projects using this library.

It will be nice to update  >= 3.2.2. There are some breaking changes, but I think it won't aff

[2022-04-18 18:24] kochizufan opened #179 "'The "path" argument must be of type string. Received null' in electron-json-storage"
Maybe this post is kinda multi-post, but I want to fix this ASAP..

https://stackoverflow.com/questions/71897989/the-path-argument-must-be-of-type-string-received-null-in-electron-json-sto

[2022-04-19 15:44] jviotti commented on #179
Can you create an [Electron Fiddle](https://www.electronjs.org/fiddle) or a basic repo reproducing the issue?

[2022-04-22 02:37] garasubo commented on #177
@jviotti Any update on this? #176 or #178 will resolve this issue.

[2022-04-23 00:33] jviotti commented on #177
Thanks @garasubo! The PRs look good, but Travis CI is not kicking-in for this repo for some reason. I'll see if I can make it work. I don't have admin permissions on this repo though, so we will have to contact an admin if I cannot resolve it.

[2022-04-23 00:36] jviotti commented on #177
See https://github.com/electron-userland/welcome/issues/13

[2022-04-24 17:53] kochizufan commented on #179
Sorry I found the reason...

I call "electron-json-storage" inside of "preload.js".
I don't know "preload.js" is worked on renderer process.
I must use electron-json-storage on main process.

I realized that under the contextIsolation environment, I need to completely rethink my architecture from the nodeIntegration era configuration.

[2022-04-24 17:53] #179 closed

[2022-04-27 01:22] kochizufan commented on #179
I created example for using electron-json-storage under contextIsolation environment for people who will have similar question in future:
https://gist.github.com/kochizufan/a467c6b76390c6f1c41260614cb06a5c

This works well.

Any points for improvement are welcome.

[2022-06-05 17:28] Pearlminima opened #181 "Überprüfen Sie die Android-App-Links | Android Entwickler/Development"
"https://domain.name/.well-known/assetlinks.json"
 https://developer.android.com/training/app-links/verify-site-associations#:~:text=folgendem%20Ort%20ver%C3%B6ffentlichen%3A-,https%3A//domain.name/.well%2Dknown/assetlinks.json,-Achten%20Sie%20auf

[2022-06-22 09:47] luisabtrace opened #183 "Sharing storage across all users"
Hya,

First of all, apologies because this is more of a question rather than an issue.

I was wondering if it's possible to share the storage across all users in a single machine. I've tried

[code]

and

[code]

but nothing works. To my surprise, the app doesn't even start (presumably due to some permissions error, but there's nothing in the output).

Do you have any suggestion on how to achieve

[2022-07-29 01:12] sorcerer-worker opened #184 "Properly Deleting All Data"
I read questions were answered through issues here.

I was wondering what the best practice for deleting information was for this library. I know of a workaround to delete data, but given storage.clear() didn't work when I was trying to reset all data stored on a Electron app. I'd like to know if there are more proper methods to doing stuff like this.

[2022-07-29 13:24] jviotti commented on #184
Hey there!

What do you mean by it didn't work? Did you get an exception?

[2022-07-30 00:06] sorcerer-worker commented on #184
Hi! More so its like it didn't run. Its a really odd problem overall. And I'm really curious if there's a way outside of .clear() that's considered a alternative best practice.

[2022-08-02 19:55] sorcerer-worker commented on #184
Oh! I'm on my friend's Linux laptop he lent me. Its running Ubuntu.

[2022-08-04 13:29] jviotti commented on #184
Interesting. Can you re-confirm that using `.clear()` does indeed not work on your machine, and no errors are reported?

[2022-08-08 00:46] Pearlminima opened #185 "https://api.etherscan.io/api?module=contract&action=getabi&address=0xBB9bc244D798123fDe783fCc1C72d3Bb8C189413&apikey=YourApiKeyToken"
"Adresse\"},{\"Name\":\"_daoCreator\", \"type\":\"address\"},{\"name\":\"_proposalDeposit\",\"type\":\"uint256\"},{\"name\":\"_minTokensToCreate\ ",\"type\":\"uint256\"},{\"name\":\"_closingTime\",\"type\":\"uint256\"},{\"name\":\"_privateCreation\ ",\"type\":\"address\"}],\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indiziert\ ":true,\"name\":\"_from\",\"type\":\"address\"},{\"in

[2022-08-27 16:35] davidliudev opened #186 "Racing issue on concurrent read"
During concurrent read it crashes on lockfile library.
It seems that the lockfile lib that this lib reference has a bug

https://github.com/npm/lockfile/blob/6590779867ee9bdc5dbebddc962640759892bb91/lockfile.js#L286

Notice that this line
``` var st = fs.statSync(path) ```
When it tries to read the path, the lock file is already being deleted by another concurrent read. Thus this line will throw a

[2022-08-27 16:36] davidliudev commented on #186
Need either to patch the original lockfile lib (which the owner already archived it), or probably should fork that lib and fix this issue.

[2022-09-12 13:23] jviotti commented on #186
Hm, it might make sense to vendor `lockfile` through https://github.com/jviotti/vendorpull. I'll send a PR to do this, and then we can try to land a `lockfile` patch

[2022-09-12 13:33] jviotti commented on #186
OK, I vendored the module here: https://github.com/electron-userland/electron-json-storage/pull/187.

What is the patch you need on `lockfile`? Are you trying to retry `fs.statSync`? Given that you can reproduce the problem, if you have a patch you can confirm works for you, I'll happily apply it and release a new version :)